@charset "utf-8";

/**
 * width や height がパディングやボーダーに依存しないようにする
 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * デフォルトのマージンを削除
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    margin: 0;
}

/**
 * IE6/7 で 2 つ個以上の連続した br タグは無視するバグに対応
 */
br {
    letter-spacing: 0;
}

/**
 * デフォルトのマージンを削除
 */
p,
blockquote,
dl,
dd,
figure {
    margin: 0;
}

/**
 * 行が長くなると改行させる
 * デフォルトのマージンを削除
 */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

/**
 * デフォルトのマージンを削除
 */
ol,
ul {
    padding: 0;
    margin: 0;
}

/**
 * デフォルトのマージンを削除
 */
li {
    list-style: none;
}

/**
 * フォントのサイズを統合
 */
button,
input,
optgroup,
select,
textarea {
    font-size: 1em;
}

/**
 * マージンとボーダーを削除
 */
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/**
 * Chrome で selectbox の background-color を継承しない対策
 */
select {
    background-color: inherit;
    line-height: inherit;
}

/**
 * セルの文字寄せをリセット
 */
th,
td {
    text-align: left;
}

/**
 * 文字寄せをリセット
 * 余白を削除
 */
caption {
    text-align: left;
    padding: 0;
}

html {
    font-size: 1.61551vw; // calc(10 / 1238 * 2 * 100vw)
    @include mq(sp) {
        font-size: 3.125vw; // calc(10 / 320 * 100vw)
    }
    @media screen and (min-width: 1238px) {
        font-size: 20px;
    }
    @media screen and (max-width: 320px) {
        font-size: 10px;
    }
}

body {
    color: #101c52;
    background-color: #fff;
    font-family: "Noto Sans JP", "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic", "メイリオ",
        Meiryo, sans-serif;
    font-size: 1.2rem; // calc(24 / 2 * 0.1rem)
    line-height: 1.6;
    margin: 0;
    padding: 0;
    word-break: break-all;
    @include mq(sp) {
        font-size: 1.2rem;
        line-height: 1.8;
    }
}

// 以下はIEと游ゴシックの組み合わせのバグへの対応のため。詳細は以下URL参照。
// https://thk.kanzae.net/net/itc/t4898/
@media all and (-ms-high-contrast: none) {
    body {
        /* 游ゴシックの高さがおかしくなるバグがあるため、IEのみフォントを変更する */
        font-family: "メイリオ", Meiryo, "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    }
}

p,
ul,
ol,
dl {
    // 各要素デフォルトのマージン。
    // 現状入っているものは仮のもののため、各サイトを作る時に設定を変更する。
    margin-bottom: calc(40 / 2 * 0.1rem);
    @include mq(sp) {
        margin-bottom: 2rem;
    }
}

a {
    // デフォルトのリンク色。
    // 現状入っている色は仮のもののため、各サイトを作る時に設定を変更する。
    color: #6183d0;
    text-decoration: underline;
    // transition-property: color;
    transition-duration: 0.3s;
    // デフォルトのホバーもサイトを作る時に最初に設定する。
    &:hover {
        opacity: 0.7;
        text-decoration: none;
    }
}

img {
    vertical-align: bottom;
}

input,
textarea,
select {
    font-family: inherit;
}
