@charset "utf-8";

.wrap {
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    padding-top: calc(105 / 2 * 0.1rem);
    @include mq() {
        padding-top: 4rem !important;
    }

    &.is-lock {
        position: fixed;
        @include mq() {
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-color: #101c52;
    border-top: calc(10 / 2 * 0.1rem) solid #97abde;
    z-index: 10001;
    transition-duration: 0.3s;
    @include mq() {
        border-top: none;
        height: 4rem;
    }

    &.is-hide {
        top: calc(-205 / 2 * 0.1rem);
        @include mq() {
            top: -8rem;
        }
    }

    .is-ie & {
        position: absolute;
    }
}

.header__inner {
    display: flex;
    align-items: center;
    height: calc(95 / 2 * 0.1rem);
    width: calc(1238 / 2 * 0.1rem);
    padding: 0 calc(12 / 2 * 0.1rem);
    margin: 0 auto;
    @include mq() {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0 5.3rem 0 1.5rem;
    }
}

.header__logo {
    width: calc(306 / 2 * 0.1rem);
    @include mq() {
        width: 15.3rem;
        // width: 17.2rem;
        // margin-bottom: 0;
        // height: 5.2rem;
        // display: flex;
        // align-items: center;
    }

    a {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include mq() {
        }
    }

    img {
        height: auto;
        @include mq() {
        }
    }

    // .is-menuShow & {
    //     display: none;
    //     @include mq() {
    //     }
    // }
}

.header__logo__img {
    width: calc(175 / 2 * 0.1rem);
    @include mq() {
    }
}

.header__logo__img2 {
    width: calc(111 / 2 * 0.1rem);
    @include mq() {
    }
}

.header__navs {
    display: flex;
    height: 100%;
    margin: 0 0 0 auto;
    @include mq() {
        display: none;
    }
}

.header__nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 0;
    @include mq() {
        display: none;
    }

    .is-menuShow & {
        // display: none;
        // @include mq() {
        // }
    }
}

.header__nav__item {
    height: 100%;
    @include mq() {
    }

    &:nth-child(n + 2) {
        margin-left: calc(24 / 2 * 0.1rem);
        @include mq() {
        }
    }

    > a,
    > span {
        position: relative;
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0 calc(6 / 2 * 0.1rem);
        font-size: calc(18 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.2;
        color: #fff;
        text-decoration: none;
        @include mq() {
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: calc(5 / 2 * 0.1rem);
            background-color: #97abde;
            transition-duration: 0.3s;
            @include mq() {
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    &.is-current > a,
    &.is-current > span,
    &:hover > a,
    &:hover > span {
        @include mq() {
        }

        &::after {
            width: 100%;
            @include mq() {
            }
        }
    }
}

.header__subNav {
    display: none;
    position: absolute;
    margin-bottom: 0;
    top: calc(95 / 2 * 0.1rem);
    left: 0;
    background-color: #fff;
    width: 100%;
    height: calc(76 / 2 * 0.1rem);
    @include mq() {
    }

    .header__nav__item:hover & {
        display: block;
        @include mq() {
        }
    }
}

.header__subNav__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #cbd6ed;
    @include mq() {
    }
}

.header__subNav__item {
    color: #fff;
    height: 100%;
    white-space: nowrap;
    @include mq() {
    }

    > a {
        height: 100%;
        display: flex;
        align-items: center;
        color: #101c52;
        text-decoration: none;
        padding: 0 calc(12 / 2 * 0.1rem);
        font-size: calc(16 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.2;
        @include mq() {
        }
    }
}

.header__subNav2 {
    display: none;
    position: absolute;
    margin-bottom: 0;
    top: calc(76 / 2 * 0.1rem);
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(127, 155, 218, 0.9);
    width: 100%;
    height: calc(76 / 2 * 0.1rem);
    border-bottom: 1px solid #fff;
    @include mq() {
    }

    .header__subNav__item:hover & {
        display: flex;
        @include mq() {
        }
    }

    .header__subNav__item:hover & {
        // z-index: 2;
        @include mq() {
        }
    }
}

.header__subNav2__item {
    height: 100%;
    @include mq() {
    }

    > a {
        display: flex;
        align-items: center;
        height: 100%;
        color: #101c52;
        text-decoration: none;
        font-size: calc(16 / 2 * 0.1rem);
        padding: 0 calc(12 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.2;
        @include mq() {
        }
    }
}

.header__sns {
    height: 100%;
    display: flex;
    margin-bottom: 0;
    @include mq() {
    }

    > li {
        margin-left: calc(30 / 2 * 0.1rem);
        @include mq() {
        }
    }

    a {
        display: flex;
        align-items: center;
        height: 100%;
    }

    img {
        height: auto;
    }
}

.header__sns__youtube {
    @include mq() {
    }

    img {
        width: calc(28 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.header__sns__facebook {
    @include mq() {
    }

    img {
        width: calc(17 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.header__sns__twitter {
    @include mq() {
    }

    img {
        width: calc(25 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.header__activity {
    display: none;
    width: 7.4rem;
    height: 2.85rem;
    background-color: #bad059;
    border-radius: 0.2rem;
    margin: 0 0 0 auto;
    @include mq() {
        display: block;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #101c52;
        text-decoration: none;
    }
}

.header__menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    width: 4.4rem;
    height: 100%;
    @include mq() {
        display: block;
    }
}

.header__menu__hamburger {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 2.3rem;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
    @include mq() {
    }

    span {
        position: absolute;
        left: 50%;
        display: block;
        width: 2.2rem;
        height: 3px;
        margin-left: -1.1rem;
        transition-duration: 0.3s;
        @include mq() {
        }

        &:nth-child(1) {
            top: 1.05rem;
            background-color: #7f9bda;
            @include mq() {
            }
        }

        &:nth-child(2) {
            top: 1.6rem;
            background-color: #bad059;
            @include mq() {
            }
        }

        &.header__menu__hamburger__text {
            width: auto;
            height: auto;
            background-color: transparent;
            margin-left: 0;
            transform: translateX(-50%) scale(0.8);
            color: #fff;
            @include mq() {
            }
        }
    }

    .is-menuShow & {
        span {
            &:nth-child(1) {
                top: 1.3rem;
                width: 1.8rem;
                margin-left: -0.9rem;
                transform: rotate(45deg);
                @include mq() {
                }
            }

            &:nth-child(2) {
                top: 1.3rem;
                width: 1.8rem;
                margin-left: -0.9rem;
                transform: rotate(-45deg);
                @include mq() {
                }
            }
        }
    }
}

.pagetop {
    position: relative;
    height: calc(180 / 2 * 0.1rem);
    z-index: 10000;
    @include mq() {
        height: 7.6rem;
    }

    a {
        opacity: 0;
        position: fixed;
        bottom: calc(12 / 2 * 0.1rem);
        right: calc(-200 / 2 * 0.1rem);
        display: block;
        width: calc(125 / 2 * 0.1rem);
        height: calc(182 / 2 * 0.1rem);
        padding-top: calc(24 / 2 * 0.1rem);
        font-size: calc(16 / 2 * 0.1rem);
        text-decoration: none;
        text-align: center;
        transition-duration: 0.3s;
        @include mq() {
        }

        &::before {
            content: "";
            position: absolute;
            top: calc(6 / 2 * 0.1rem);
            left: 50%;
            margin-left: calc(-8 / 2 * 0.1rem);
            display: block;
            width: calc(16 / 2 * 0.1rem);
            height: calc(16 / 2 * 0.1rem);
            border-bottom: 2px solid #6183d0;
            border-left: 2px solid #6183d0;
            transform: rotate(135deg);
            @include mq() {
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: calc(125 / 2 * 0.1rem);
            height: calc(125 / 2 * 0.1rem);
            background: url(./images/smile_img_001.png) no-repeat 0 0;
            background-size: 100%;
            @include mq() {
            }
        }
    }

    &.is-show {
        @include mq() {
        }

        a {
            opacity: 1;
            bottom: calc(12 / 2 * 0.1rem);
            right: calc(12 / 2 * 0.1rem);
            @include mq() {
            }
        }
    }

    &.is-scroll-end {
        @include mq() {
        }

        a {
            opacity: 1;
            position: absolute;
            bottom: 0;
            right: calc(12 / 2 * 0.1rem);
            @include mq() {
            }
        }
    }
}

.pagetop__inner {
    top: calc(60 / 2 * 0.1rem);
    position: relative;
    height: 100%;
    @include mq() {
        top: 3rem;
    }
}

.footer {
    padding: calc(96 / 2 * 0.1rem) 0 calc(36 / 2 * 0.1rem);
    background-color: #7f9bda;
    color: #fff;
    @include mq() {
    }
}

.footer__row {
    align-items: flex-start;
    display: flex;
    @include mq() {
        display: block;
    }
}

.footer__col {
    width: calc(312 / 2 * 0.1rem);
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        width: auto;
    }

    > :last-child {
        margin-bottom: 0;
        @include mq() {
        }
    }
}

.footer__col2 {
    width: calc(910 / 2 * 0.1rem);
    @include mq() {
        position: relative;
        width: auto;
        padding-top: 3rem;
    }

    &::before {
        @include mq() {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 6.6rem;
            height: 1px;
            margin-left: -3.3rem;
            background-color: #fff;
        }
    }
}

.footer__logo {
    font-size: 1px;
    width: calc(175 / 2 * 0.1rem);
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        width: auto;
        margin-bottom: 1.8rem;
    }

    img {
        display: block;
        height: auto;
        @include mq() {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.footer__logo__img {
    width: calc(175 / 2 * 0.1rem);
    @include mq() {
        width: 16.8rem;
    }
}

.footer__logo__img2 {
    width: calc(111 / 2 * 0.1rem);
    margin-top: calc(12 / 2 * 0.1rem);
    @include mq() {
        width: 7.4rem;
        margin-top: 1.8rem;
    }
}

.footer__party {
    padding: calc(20 / 2 * 0.1rem);
    width: calc(178 / 2 * 0.1rem);
    background-color: #fff;
    text-align: center;
    border-radius: calc(8 / 2 * 0.1rem);
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        padding: 1rem;
        width: 8.9rem;
        border-radius: 0.2rem;
        margin: 0 auto 3.6rem;
    }

    img {
        width: calc(100 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.footer__address {
    margin-bottom: calc(30 / 2 * 0.1rem);
    @include mq() {
        position: relative;
        margin-bottom: 3rem;
        text-align: center;
    }

    & + & {
        @include mq() {
            padding-top: 3rem;
        }

        &::before {
            @include mq() {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 6.6rem;
                height: 1px;
                margin-left: -3.3rem;
                background-color: #fff;
            }
        }
    }

    > dt {
        font-size: calc(24 / 2 * 0.1rem);
        font-weight: bold;
        margin-bottom: calc(20 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
    }

    > dd {
        font-size: calc(14 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.2rem;
        }
    }
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    font-size: calc(14 / 2 * 0.1rem);
    margin-bottom: calc(32 / 2 * 0.1rem);
    @include mq() {
        display: block;
        margin-bottom: 3.6rem;
    }
}

.footer__nav__item {
    width: calc(172 / 2 * 0.1rem);
    @include mq() {
        width: auto !important;
        text-align: center;
    }

    &:nth-child(1) {
        width: calc(72 / 2 * 0.1rem);
        @include mq() {
        }
    }

    &:nth-child(n + 2) {
        @include mq() {
            margin-top: 2.8rem;
        }
    }

    &:nth-child(5) {
        width: calc(132 / 2 * 0.1rem);
        @include mq() {
        }
    }

    > a {
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        @include mq() {
            font-size: 1.2rem;
        }
    }

    br {
        @include mq() {
            display: none;
        }
    }
}

.footer__subNav {
    margin: calc(28 / 2 * 0.1rem) 0 0;
    @include mq() {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 1.6rem;
        margin: -1.6rem 0 0;
        overflow: hidden;
    }
}
.footer__subNav__item {
    @include mq() {
        position: relative;
        margin-top: 1.6rem !important;
        padding: 0 1.2rem;
    }

    + .footer__subNav__item {
        margin-top: calc(20 / 2 * 0.1rem);
        @include mq() {
            margin-left: -1px;
        }
    }

    &::before,
    &::after {
        @include mq() {
            content: "";
            position: absolute;
            top: 50%;
            width: 1px;
            height: 1.4em;
            margin-top: -0.7em;
            background-color: #fff;
        }
    }

    &::before {
        @include mq() {
            left: 0;
        }
    }

    &::after {
        @include mq() {
            right: 0;
        }
    }

    > a {
        color: #fff;
        text-decoration: none;
        @include mq() {
            font-size: 1.1rem;
        }
    }
}

.footer__nav2 {
    display: flex;
    justify-content: center;
    margin-bottom: calc(24 / 2 * 0.1rem);
    font-size: calc(14 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.1rem;
        margin-top: -1.6rem;
        margin-bottom: 4rem;
    }

    > li {
        margin-left: calc(20 / 2 * 0.1rem);
        padding-left: calc(20 / 2 * 0.1rem);
        @include mq() {
            position: relative;
            margin: 1.6rem 0 0;
            padding: 0 1.2rem;
        }

        + li {
            @include mq() {
                margin-left: -1px;
            }
        }

        &::before,
        &::after {
            @include mq() {
                content: "";
                position: absolute;
                top: 50%;
                width: 1px;
                height: 1.4em;
                margin-top: -0.7em;
                background-color: #fff;
            }
        }

        &::before {
            @include mq() {
                left: 0;
            }
        }

        &::after {
            @include mq() {
                right: 0;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

.footer__sns {
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
    @include mq() {
        position: relative;
        justify-content: center;
        padding-top: 4.8rem;
        margin-bottom: 4.8rem;
    }

    &::before {
        @include mq() {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 6.6rem;
            height: 1px;
            margin-left: -3.3rem;
            background-color: #fff;
        }
    }

    > li {
        @include mq() {
        }

        + li {
            margin-left: calc(48 / 2 * 0.1rem);
            @include mq() {
                margin-left: 4.8rem;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        height: 100%;
    }

    img {
        height: auto;
    }
}

.footer__sns__youtube {
    @include mq() {
    }

    img {
        width: calc(37 / 2 * 0.1rem);
        @include mq() {
            width: 3.3rem;
        }
    }
}

.footer__sns__facebook {
    @include mq() {
    }

    img {
        width: calc(21 / 2 * 0.1rem);
        @include mq() {
            width: 2rem;
        }
    }
}

.footer__sns__twitter {
    @include mq() {
    }

    img {
        width: calc(35 / 2 * 0.1rem);
        @include mq() {
            width: 3.2rem;
        }
    }
}

.footer__copyright {
    margin-bottom: 0;
    font-size: calc(18 / 2 * 0.1rem);
    text-align: center;
    color: #fff;
    @include mq() {
        font-size: 1.2rem;
    }

    br {
        display: none;
        @include mq() {
            display: inline;
        }
    }
}

.hamburger {
    background-color: #fff;
    position: fixed;
    top: 4rem;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    align-items: center;
    display: none;
    opacity: 0.5;
    @include mq() {
    }

    .is-menuShow & {
        display: block;
        animation-duration: 0.3s;
        animation-name: fadeIn;
        animation-fill-mode: forwards;
        @include mq() {
        }
    }
}

.hamburger__inner {
    position: relative;
    height: 100%;
    overflow-y: auto;
    background-color: #f3f1f0;
    @include mq() {
    }
}

.hamburger__nav {
    margin-bottom: 0;
    border-top: 1px solid #fff;
    @include mq() {
    }
}

.hamburger__nav__item {
    @include mq() {
    }

    > a {
        display: block;
        padding: 1.2rem 1.5rem;
        font-size: 1.4rem;
        line-height: 1.2;
        background-color: #101c52;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        @include mq() {
        }
    }
}

.hamburger__subNav {
    margin-bottom: 0;
    @include mq() {
    }
}
.hamburger__subNav__item {
    @include mq() {
    }

    > a {
        display: block;
        padding: 1rem 1.5rem 1rem 2.8rem;
        font-size: 1.4rem;
        line-height: 1.2;
        background-color: #7f9bda;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        @include mq() {
        }
    }
}

.hamburger__subNav2 {
    margin-bottom: 0;
    @include mq() {
    }
}
.hamburger__subNav2__item {
    @include mq() {
    }

    > a {
        display: block;
        padding: 1rem 1.5rem 1rem 4.1rem;
        color: #101c52;
        font-size: 1.4rem;
        line-height: 1.2;
        background-color: #fff;
        border-bottom: 1px solid #101c52;
        text-decoration: none;
        @include mq() {
        }
    }
}

.hamburger__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 3rem 0 3rem;
    @include mq() {
    }

    > li {
        margin: 0 2rem;
        @include mq() {
        }
    }

    a {
        display: flex;
        align-items: center;
        height: 100%;
    }

    img {
        height: auto;
    }
}

.hamburger__sns__youtube {
    @include mq() {
    }

    img {
        width: calc(66 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.hamburger__sns__facebook {
    @include mq() {
    }

    img {
        width: calc(39 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.hamburger__sns__twitter {
    @include mq() {
    }

    img {
        width: calc(64 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.breadcrumbs-wrap {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: calc(20 / 2 * 0.1rem) 0;
    @include mq() {
    }
}

.breadcrumbs {
    margin: 0 calc(-10 / 2 * 0.1rem);
    @include mq() {
        margin: 0 -0.4rem;
    }

    a {
        color: #6183d0;
        @include mq() {
        }
    }

    > span {
        margin: 0 calc(10 / 2 * 0.1rem);
        @include mq() {
            margin: 0 0.4rem;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.container {
    width: calc(1238 / 2 * 0.1rem);
    margin: 0 auto;
    padding: 0 calc(12 / 2 * 0.1rem);
    @include mq() {
        width: 100%;
        padding: 0 1.5rem;
    }
}

.content__inner {
    padding: calc(60 / 2 * 0.1rem) 0;
    border-top: 1px solid #d5d5d5;
    @include mq() {
        margin: 2.4rem 0;
    }

    .container {
        display: flex;
        @include mq() {
            display: block;
        }
    }
}

.content__inner--type2 {
    padding-top: 0;
    border-top: none;
    @include mq() {
        margin-top: 0;
    }
}

.content__inner--type3 {
    border-top: none;
    @include mq() {
        margin-top: 0;
    }
}

.main {
    order: 2;
    flex: 1;
    line-height: 1.8;
    @include mq() {
        width: auto;
        margin-bottom: 5.2rem;
    }

    > :last-child {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.side {
    order: 1;
    width: calc(360 / 2 * 0.1rem);
    position: relative;
    background-color: #f7f6f5;
    margin-right: calc(48 / 2 * 0.1rem);
    @include mq() {
        width: auto;
        margin-right: 0;
    }
}
.side__inner {
    top: 0;
    left: 0;
    width: 100%;
    transition-duration: 0.3s;
    background-color: #f7f6f5;
    @include mq() {
        position: static !important;
    }
}
.js-sideFix .side__inner {
    position: absolute;
}
.side__nav {
    margin-bottom: 0;
    @include mq() {
    }

    a {
        text-decoration: none;
    }

    > dt {
        @include mq() {
        }

        > a {
            display: block;
            font-size: calc(32 / 2 * 0.1rem);
            font-weight: bold;
            color: #fff;
            background-color: #7f9bda;
            padding: calc(16 / 2 * 0.1rem) calc(28 / 2 * 0.1rem);
            @include mq() {
                font-size: 1.6rem;
                padding: 1.2rem 1.5rem;
            }
        }
    }
}
.side__nav__list {
    margin-bottom: 0;
    @include mq() {
    }

    > li {
        @include mq() {
        }

        + li {
            border-top: 1px solid #fff;
            @include mq() {
            }
        }

        > a {
            display: block;
            background-color: #f7f6f5;
            color: #101c52;
            font-size: calc(24 / 2 * 0.1rem);
            padding: calc(20 / 2 * 0.1rem) calc(28 / 2 * 0.1rem);
            color: #009e8f;
            @include mq() {
                font-size: 1.4rem;
                padding: 0.8rem 1.5rem;
            }
        }
    }
}
.side__subNav {
    margin-bottom: 0;
    border-top: 1px solid #fff;
    @include mq() {
    }

    > li {
        @include mq() {
        }

        + li {
            border-top: 1px solid #fff;
            @include mq() {
            }
        }

        > a {
            position: relative;
            display: block;
            background-color: #e0e3e9;
            color: #101c52;
            font-size: calc(24 / 2 * 0.1rem);
            padding: calc(20 / 2 * 0.1rem) calc(28 / 2 * 0.1rem) calc(20 / 2 * 0.1rem) calc(52 / 2 * 0.1rem);
            @include mq() {
                font-size: 1.4rem;
                padding: 0.8rem 1.5rem 0.8rem 3rem;
            }
        }
    }
}
.side__subNav2 {
    margin-bottom: 0;
    border-top: 1px solid #fff;
    @include mq() {
    }

    > li {
        @include mq() {
        }

        + li {
            border-top: 1px solid #fff;
            @include mq() {
            }
        }

        > a {
            position: relative;
            display: block;
            background-color: #c3cad9;
            color: #101c52;
            font-size: calc(24 / 2 * 0.1rem);
            padding: calc(20 / 2 * 0.1rem) calc(28 / 2 * 0.1rem) calc(20 / 2 * 0.1rem) calc(74 / 2 * 0.1rem);
            @include mq() {
                font-size: 1.4rem;
                padding: 0.8rem 1.5rem 0.8rem 4.5rem;
            }
        }
    }
}

.side__banner {
    padding: calc(28 / 2 * 0.1rem);
    margin-bottom: 0;
    border-top: 1px solid #fff;
    @include mq() {
        padding: 2rem 1.5rem;
    }
}

.side__banner__list {
    margin-bottom: 0;
    @include mq() {
    }

    img {
        width: 100%;
        height: auto;
    }
}

.side__banner__list__item {
    & + & {
        margin-top: calc(30 / 2 * 0.1rem);
        @include mq() {
            margin-top: 1.8rem;
        }

        &.side__banner__list__item--type2 {
            margin-top: calc(10 / 2 * 0.1rem);
            @include mq() {
                margin-top: 0.2rem;
            }
        }
    }
}

.side__search {
    padding: calc(28 / 2 * 0.1rem);
    background-color: #c3cad9;
    @include mq() {
        padding: 2.4rem 1.5rem;
    }
}

.side__search__item {
    margin-bottom: 0;
    @include mq() {
    }

    & + & {
        margin-top: calc(20 / 2 * 0.1rem);
        @include mq() {
            margin-top: 1.6rem;
        }
    }

    > dt {
        margin-bottom: calc(4 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.4rem;
            margin-bottom: 0.4rem;
        }
    }

    > dd {
        @include mq() {
        }
    }
}

.side__search__select {
    position: relative;
    @include mq() {
    }

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        right: calc(16 / 2 * 0.1rem);
        display: block;
        width: calc(16 / 2 * 0.1rem);
        height: calc(16 / 2 * 0.1rem);
        margin-top: calc(-12 / 2 * 0.1rem);
        border-bottom: 1px solid #101c52;
        border-left: 1px solid #101c52;
        transform: rotate(-45deg);
        pointer-events: none;
        @include mq() {
            width: 0.8rem;
            height: 0.8rem;
            margin-top: -0.6rem;
        }
    }

    select {
        appearance: none;
        width: 100%;
        background-color: #fff;
        padding: calc(8 / 2 * 0.1rem) calc(48 / 2 * 0.1rem) calc(8 / 2 * 0.1rem) calc(16 / 2 * 0.1rem);
        border: none;
        @include mq() {
            font-size: 1.6rem;
            padding: 1rem 3rem 1rem 1.5rem;
        }
    }
}

.side__search__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq() {
    }
}

.side__search__form-txt {
    width: calc(200 / 2 * 0.1rem);
    background-color: #fff;
    padding: calc(8 / 2 * 0.1rem) calc(48 / 2 * 0.1rem) calc(8 / 2 * 0.1rem) calc(16 / 2 * 0.1rem);
    border: none;
    @include mq() {
        width: 18.6rem;
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
    }
}

.side__search__btn {
    width: calc(88 / 2 * 0.1rem);
    padding: calc(8 / 2 * 0.1rem) 0;
    border: none;
    background: #101c52;
    color: #fff;
    text-align: center;
    @include mq() {
        width: 6.4rem;
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
