@charset "utf-8";

.sec {
    padding: calc(60 / 2 * 0.1rem) 0;
    @include mq() {
        padding: 3rem 0;
    }

    & + & {
        border-top: 1px solid #d5d5d5;
        @include mq() {
        }
    }
}

.sec__inner {
    @include mq() {
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.ttl {
    font-size: calc(36 / 2 * 0.1rem);
    font-weight: bold;
    text-align: center;
    margin-bottom: calc(52 / 2 * 0.1rem);
    @include mq() {
        font-size: 2.1rem;
        margin-bottom: 2.6rem;
        color: #7f9bda;
    }

    span {
        display: block;
        font-size: calc(24 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.2rem;
        }
    }
}

.ttl2 {
    font-size: calc(28 / 2 * 0.1rem);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: calc(32 / 2 * 0.1rem);
    background-color: #7f9bda;
    color: #fff;
    padding: calc(12 / 2 * 0.1rem) calc(20 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.6rem;
        margin: 0 -1.5rem 1.4rem;
        padding: 0.8rem 1.5rem;
    }
}

.ttl3 {
    font-size: calc(28 / 2 * 0.1rem);
    font-weight: bold;
    margin-bottom: calc(20 / 2 * 0.1rem);
    color: #6989d1;
    padding: calc(8 / 2 * 0.1rem) calc(20 / 2 * 0.1rem);
    border-top: 2px solid #6989d1;
    border-bottom: 2px solid #6989d1;
    @include mq() {
        font-size: 1.6rem;
        margin: 0 -1.5rem 1.4rem;
        padding: 0.8rem 1.5rem;
    }
}

.ttl4 {
    margin-bottom: calc(40 / 2 * 0.1rem);
    font-size: calc(42 / 2 * 0.1rem);
    font-weight: bold;
    color: #7f9bda;
    @include mq() {
        font-size: 2rem;
        margin-bottom: 2.4rem;
        text-align: center;
    }
}

.ttl5 {
    margin-bottom: calc(32 / 2 * 0.1rem);
    font-size: calc(28 / 2 * 0.1rem);
    font-weight: bold;
    @include mq() {
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
        text-align: center;
    }
}

.btn-wrap {
    display: flex;
    justify-content: center;
    margin: calc(60 / 2 * 0.1rem) calc(-20 / 2 * 0.1rem);
    @include mq() {
        display: block;
        margin: 3.2rem 0;
        text-align: center;
    }

    & + & {
        @include mq() {
            margin-top: -1.2rem;
        }
    }

    > li {
        margin: 0 calc(20 / 2 * 0.1rem);
        @include mq() {
            margin: 0 2.4rem;
        }

        + li {
            @include mq() {
                margin-top: 2rem;
            }
        }
    }

    > .btn {
        margin: 0 calc(20 / 2 * 0.1rem);
        @include mq() {
            margin: 0 4.4rem;
        }
    }
}
.btn-wrap--left {
    justify-content: flex-start;
    @include mq() {
    }
}
.btn-wrap--right {
    justify-content: flex-end;
    @include mq() {
    }
}
.btn-wrap--mtNarrow {
    margin-top: calc(36 / 2 * 0.1rem);
    @include mq() {
        margin-top: 2.4rem;
    }
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: calc(298 / 2 * 0.1rem);
    height: calc(56 / 2 * 0.1rem);
    border: 2px solid #101c52;
    border-radius: 0.4rem;
    color: #101c52;
    text-decoration: none;
    font-size: calc(24 / 2 * 0.1rem);
    font-weight: bold;
    line-height: 1.2;
    padding: 0 calc(56 / 2 * 0.1rem);
    @include mq() {
        min-width: 0;
        font-size: 1.4rem;
        padding: 0 2.8rem;
        height: 3.3rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(36 / 2 * 0.1rem);
        display: block;
        width: calc(10 / 2 * 0.1rem);
        height: calc(21 / 2 * 0.1rem);
        margin-top: calc(-10 / 2 * 0.1rem);
        background: url(./images/ic_arrow_002.png) no-repeat 0 0;
        background-size: 100%;
        @include mq() {
            width: 0.55rem;
            height: 1.1rem;
            margin-top: -0.55rem;
        }
    }
}

// .btn--fill {
//     background-color: #009e8f;
//     color: #fff;
//     @include mq() {
//     }

//     &::before {
//         border-bottom-color: #fff;
//         border-right-color: #fff;
//         @include mq() {
//         }
//     }
// }

.btn--white {
    border-color: #fff;
    color: #fff;
    @include mq() {
    }

    &::before {
        background-image: url(./images/ic_arrow_004.png);
        @include mq() {
        }
    }
}

.btn--pcWhite {
    border-color: #fff;
    color: #fff;
    @include mq() {
        border-color: #101c52;
        color: #101c52;
    }

    &::before {
        background-image: url(./images/ic_arrow_004.png);
        @include mq() {
            background-image: url(./images/ic_arrow_002.png);
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: calc(80 / 2 * 0.1rem);
    @include mq() {
        margin-bottom: 4rem;
    }

    th {
        width: calc(182 / 2 * 0.1rem);
        color: #7f9bda;
        font-weight: bold;
        padding: calc(18 / 2 * 0.1rem) calc(30 / 2 * 0.1rem) calc(18 / 2 * 0.1rem) 0;
        border-right: 1px solid #36406e;
        vertical-align: top;
        @include mq() {
            width: 9.2rem;
            padding: 0.8rem 1.5rem 0.8rem 0;
        }
    }

    td {
        padding: calc(18 / 2 * 0.1rem) calc(30 / 2 * 0.1rem);
        vertical-align: top;
        @include mq() {
            padding: 0.8rem 0 0.8rem 1.5rem;
        }
    }

    tr:first-child {
        th,
        td {
            padding-top: 0;
        }
    }

    tr:last-child {
        th,
        td {
            padding-bottom: 0;
        }
    }
}

.box {
    margin-bottom: calc(80 / 2 * 0.1rem);
    padding: calc(40 / 2 * 0.1rem) calc(60 / 2 * 0.1rem);
    background-color: #f7f6f5;
    @include mq() {
        margin-bottom: 4rem;
        padding: 1.6rem;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.box__ttl {
    margin-bottom: calc(30 / 2 * 0.1rem);
    font-size: calc(36 / 2 * 0.1rem);
    font-weight: bold;
    color: #7f9bda;
    @include mq() {
        margin-bottom: 1.4rem;
        font-size: 1.6rem;
    }
}

.box__lead {
    margin-bottom: calc(30 / 2 * 0.1rem);
    font-size: calc(28 / 2 * 0.1rem);
    font-weight: bold;
    @include mq() {
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
    }
}

.mv {
    position: relative;
    height: calc(830 / 2 * 0.1rem);
    overflow: hidden;
    // background-color: #a3b6df;
    // background: url(./images/mv_bg_001.jpg) no-repeat 50% 100%;
    // background-size: cover;
    @include mq() {
        height: 52.9rem;
        // background: url(./images/mv_bg_001_sp.jpg) no-repeat 0 0;
        // background-size: 100% auto;
    }
}

.mv__inner {
    position: relative;
    height: 100%;
    z-index: 10;
    @include mq() {
        padding: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(-10 / 2 * 0.1rem);
        z-index: 11;
        display: block;
        width: calc(1760 / 2 * 0.1rem);
        height: calc(830 / 2 * 0.1rem);
        background: url(./images/mv-inner_bg_001.png) no-repeat 0 0;
        background-size: 100%;
        @include mq() {
            // width: auto;
            width: 100rem;
            height: 100%;
            top: -4.3rem;
            // bottom: 0;
            left: -13.4rem;
        }
    }
}

.mv__box {
    z-index: 13;
    @include mq() {
        position: relative;
        height: 42.9rem;
    }
}

.mv__box2 {
    position: absolute;
    z-index: 13;
    top: calc(340 / 2 * 0.1rem);
    left: 0;
    font-size: calc(30 / 2 * 0.1rem);
    line-height: 1.8;
    margin-bottom: 0;
    @include mq() {
        position: static;
        display: flex;
        align-items: center;
        height: 10rem;
        padding: 0 2.8rem;
        background-color: #101c52;
        color: #fff;
        font-size: 1.2rem;
    }
}

.mv__txt {
    position: absolute;
    z-index: 13;
    top: calc(68 / 2 * 0.1rem);
    left: 0;
    font-size: calc(94 / 2 * 0.1rem);
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0;
    @include mq() {
        position: absolute;
        top: -9999rem;
        left: -9999rem;
    }
}

.mv__txt2 {
    position: absolute;
    z-index: 13;
    top: calc(514 / 2 * 0.1rem);
    left: calc(308 / 2 * 0.1rem);
    font-size: calc(28 / 2 * 0.1rem);
    line-height: 1.6;
    color: #fff;
    margin-bottom: 0;
    @include mq() {
        font-size: 1.1rem;
        top: 29.8rem;
        left: 3rem;
    }
}

.mv__name {
    position: absolute;
    z-index: 13;
    top: calc(612 / 2 * 0.1rem);
    left: calc(308 / 2 * 0.1rem);
    font-size: calc(84 / 2 * 0.1rem);
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 0;
    @include mq() {
        font-size: 3.6rem;
        top: 33.2rem;
        left: 3rem;
    }
}

.mv__name2 {
    position: absolute;
    z-index: 13;
    top: calc(722 / 2 * 0.1rem);
    left: calc(308 / 2 * 0.1rem);
    font-size: calc(32 / 2 * 0.1rem);
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 0;
    @include mq() {
        font-size: 1.3rem;
        top: 37.8rem;
        left: 3rem;
    }
}

.mv__img {
    position: absolute;
    right: calc(-55 / 2 * 0.1rem);
    bottom: 0;
    z-index: 12;
    width: calc(644 / 2 * 0.1rem);
    height: calc(755 / 2 * 0.1rem);
    overflow: hidden;
    @include mq() {
        width: 27.4rem;
        height: 40.6rem;
        right: 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.mv__img__pc {
    @include mq() {
        display: none;
    }
}
.mv__img__sp {
    display: none;
    @include mq() {
        display: block;
    }
}

.mv__copyright {
    position: absolute;
    z-index: 20;
    width: calc(1238 / 2 * 0.1rem);
    bottom: calc(16 / 2 * 0.1rem);
    left: 50%;
    margin-left: calc(-619 / 2 * 0.1rem);
    font-size: calc(24 / 2 * 0.1rem);
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 0;
    @include mq() {
        font-size: 1rem;
        width: auto;
        margin-left: 0;
        bottom: 10.6rem;
        left: 3rem;
        transform: scale(0.75);
        transform-origin: left center;
    }
}

.mv__copyright__item {
    margin-bottom: 0;
    display: none;
    &.is-show {
        display: block;
    }
}

.mv__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .slick-list,
    .slick-track {
        height: 100%;
    }

    @include mq() {
        height: 42.9rem;
    }
}

.mv__bg__item {
    width: 100%;
    height: 100%;
}

.mv__bg__copyright {
    position: absolute;
}

.mv__bg__bg {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    @include mq() {
        background-position: 0 0;
        background-size: 100% auto;
    }
}

.mv__bg__bg--type1 {
    background-image: url(./images/mv_bg_001.jpg);
    background-position: 0 0;
    @include mq() {
        background-image: url(./images/mv_bg_001_sp.jpg);
    }
}

.mv__bg__bg--type2 {
    background-image: url(./images/mv_bg_002.jpg);
    @include mq() {
        background-image: url(./images/mv_bg_002_sp.jpg);
    }
}

.mv__bg__bg--type3 {
    background-image: url(./images/mv_bg_003.jpg);
    @include mq() {
        background-image: url(./images/mv_bg_003_sp.jpg);
    }
}

.mv2 {
    position: relative;
    height: calc(370 / 2 * 0.1rem);
    display: flex;
    align-items: center;
    background: url(./images/mv2_bg_001.jpg) no-repeat 50% 50%;
    background-size: cover;
    @include mq() {
        height: 14rem;
        background-position: 62% 50%;
    }
}

.mv2--activity {
    background-image: url(./images/mv2_bg_002.jpg);
    color: #fff;
    @include mq() {
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .mv2__inner {
        z-index: 2;
    }
}

.mv2__ttl {
    margin-bottom: 0;
    font-size: calc(60 / 2 * 0.1rem);
    font-weight: bold;
    @include mq() {
    }
}

.profile {
    @include mq() {
    }
}

.profile__row {
    display: flex;
    @include mq() {
        display: block;
    }
}

.profile__col {
    width: calc(388 / 2 * 0.1rem);
    margin-right: calc(60 / 2 * 0.1rem);
    @include mq() {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.profile__col2 {
    flex: 1;
    @include mq() {
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.profile__name {
    margin-bottom: calc(16 / 2 * 0.1rem);
    font-size: calc(64 / 2 * 0.1rem);
    line-height: 1.2;
    font-weight: bold;
    @include mq() {
        font-size: 3.2rem;
        margin-bottom: 1.2rem;
    }
}

.profile__name2 {
    margin-bottom: calc(60 / 2 * 0.1rem);
    font-size: calc(24 / 2 * 0.1rem);
    line-height: 1.2;
    font-weight: bold;
    @include mq() {
        font-size: 1.2rem;
        margin-bottom: 2.4rem;
    }
}

.profile__txt {
    margin-bottom: calc(48 / 2 * 0.1rem);
    @include mq() {
        margin-bottom: 2.8rem;
    }
}

.profile__btn {
    justify-content: flex-end;
    @include mq() {
        justify-content: center;
    }
}

.smile {
    @include mq() {
    }
}

.smile__lead {
    font-size: calc(64 / 2 * 0.1rem);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: calc(68 / 2 * 0.1rem);
    @include mq() {
        font-size: 3.2rem;
        margin-bottom: 2.4rem;
    }

    br {
        display: block;
        @include mq() {
            display: inline;
        }
    }
}

.smile__row {
    display: flex;
    margin-left: calc(166 / 2 * 0.1rem);
    @include mq() {
        display: block;
        margin-left: 0;
    }
}

.smile__col {
    position: relative;
    width: calc(205 / 2 * 0.1rem);
    margin-right: calc(76 / 2 * 0.1rem);
    @include mq() {
        width: 10.2rem;
        margin: 0 auto 2.4rem;
    }

    img {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        @include mq() {
            position: static;
        }
    }
}

[data-aos="smile"] {
    transform: rotate(-540deg);
    @include mq() {
        transform: rotate(-540deg);
    }

    &.aos-animate {
        transform: rotate(0);
        @include mq() {
        }
    }
}

.smile__col2 {
    flex: 1;
    @include mq() {
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.smile__txt {
    font-size: calc(36 / 2 * 0.1rem);
    font-weight: bold;
    margin-bottom: calc(68 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
    }
}

.smile__btn {
    @include mq() {
    }
}

.activity {
    position: relative;
    @include mq() {
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: calc(50 / 2 * 0.1rem);
        background-color: #bad059;
        @include mq() {
            height: 3.3rem;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: calc(50 / 2 * 0.1rem);
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: calc(170 / 2 * 0.1rem);
        background-color: #7f9bda;
        @include mq() {
            bottom: 3.3rem;
            height: 11.1rem;
        }
    }
}

.activity--type2 {
    margin-bottom: calc(-180 / 2 * 0.1rem);
    @include mq() {
    }

    &::before,
    &::after {
        display: none;
    }
}

.activity__inner {
    position: relative;
    z-index: 10;
    @include mq() {
    }
}

.activity__lead {
    text-align: center;
    margin-bottom: calc(52 / 2 * 0.1rem);
    @include mq() {
        text-align: left;
        margin-bottom: 2.6rem;
    }
}

.activity__detail {
    position: relative;
    padding-bottom: calc(200 / 2 * 0.1rem);
    @include mq() {
        padding-bottom: 18.2rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(100 / 2 * 0.1rem);
        bottom: 0;
        left: 50%;
        width: 2px;
        margin-left: 1px;
        background-color: #7f9bda;
        transition-duration: 0.3s;
        transition-delay: 0.3s;
        @include mq() {
            top: 5rem;
            left: 1.45rem;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: calc(-60 / 2 * 0.1rem);
        width: calc(217 / 2 * 0.1rem);
        height: calc(409 / 2 * 0.1rem);
        background: url(./images/activity_bg_001.png) no-repeat 0 0;
        background-size: 100%;
        margin-left: calc(-96 / 2 * 0.1rem);
        @include mq() {
            width: 12rem;
            height: 22.6175rem;
            bottom: -3rem;
            left: -1.2rem;
            margin-left: 0;
        }
    }
}

[data-aos="activity-detail"] {
    &::before {
        opacity: 0;
    }
    //     // opacity: 0;
    //     // top: 300px;
    //     // transform: rotate(-540deg);
    //     @include mq() {
    //         // top: 0;
    //         // transform: rotate(-540deg);
    //     }

    &.aos-animate {
        &::before {
            opacity: 1;
        }
        //         // top: 0;
        //         // opacity: 1;
        //         // transform: rotate(0);
        //         @include mq() {
        //         }
    }
}

.activity__detail__ttl {
    position: relative;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100 / 2 * 0.1rem);
    height: calc(100 / 2 * 0.1rem);
    background-color: #7f9bda;
    border-radius: 50%;
    color: #fff;
    margin: 0 auto calc(-80 / 2 * 0.1rem);
    top: calc(-48 / 2 * 0.1rem);
    @include mq() {
        margin: 0 0 -0.8rem -0.9rem !important;
        width: 5rem;
        height: 5rem;
        top: 0;
        font-size: 1.1rem;
    }

    &:first-child {
        top: 0;
        margin-bottom: calc(-32 / 2 * 0.1rem);
    }
}

.activity__detail__list {
    margin-bottom: calc(30 / 2 * 0.1rem);
    @include mq() {
        margin-bottom: 1.5rem;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.activity__detail__list__item {
    position: relative;
    width: calc(530 / 2 * 0.1rem);
    padding: calc(36 / 2 * 0.1rem);
    margin-top: calc(148 / 2 * 0.1rem);
    border: 2px solid #7f9bda;
    border-radius: calc(8 / 2 * 0.1rem);
    @include mq() {
        width: auto;
        margin-top: 3rem;
        margin-left: 4.6rem;
        padding: 1.6rem;
    }

    &:first-child {
        margin-top: 0;
        @include mq() {
            margin-top: 0;
        }
    }

    &:nth-child(n + 3) {
        margin-top: calc(100 / 2 * 0.1rem);
        @include mq() {
            margin-top: 3rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(56 / 2 * 0.1rem);
        display: block;
        background-color: #7f9bda;
        width: calc(18 / 2 * 0.1rem);
        height: calc(18 / 2 * 0.1rem);
        border-radius: 50%;
        @include mq() {
            width: 0.9rem;
            height: 0.9rem;
            top: 2.9rem;
            left: -3.6rem !important;
            right: auto !important;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: calc(65 / 2 * 0.1rem);
        display: block;
        background-color: #7f9bda;
        width: calc(76 / 2 * 0.1rem);
        height: 2px;
        @include mq() {
            width: 3rem;
            top: 3.3rem;
            left: -3rem !important;
            right: auto !important;
        }
    }

    a {
        display: block;
        color: #101c52;
        text-decoration: none;
    }
}

.activity__detail__list__item--right {
    float: right;
    @include mq() {
        float: none;
    }

    &::before {
        left: calc(-86 / 2 * 0.1rem);
        @include mq() {
        }
    }

    &::after {
        left: calc(-78 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.activity__detail__list__item--left {
    float: left;
    @include mq() {
        float: none;
    }

    &::before {
        right: calc(-90 / 2 * 0.1rem);
        @include mq() {
        }
    }

    &::after {
        right: calc(-78 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.activity__detail__list__ttl {
    font-size: calc(24 / 2 * 0.1rem);
    font-weight: bold;
    margin-bottom: calc(36 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }
}

.activity__detail__list__txt {
    font-size: calc(20 / 2 * 0.1rem);
    margin-bottom: calc(36 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
    }
}

.activity__detail__list__img {
    margin: 0 calc(-36 / 2 * 0.1rem) calc(-36 / 2 * 0.1rem);
    border-radius: 0 0 calc(6 / 2 * 0.1rem) calc(6 / 2 * 0.1rem);
    overflow: hidden;
    @include mq() {
        margin: 0 -1.6rem -1.6rem;
    }

    img {
        width: calc(100% + 4px);
        margin-left: -2px;
        margin-bottom: -2px;
        height: auto;
    }
}

.activity__btn {
    position: absolute;
    right: calc(12 / 2 * 0.1rem);
    bottom: calc(44 / 2 * 0.1rem);
    margin-bottom: 0;
    @include mq() {
        right: 1.5rem;
        bottom: 4rem;
        width: 17rem;
    }
}

.activity2 {
    position: relative;
    background-color: #7a1421;
    display: flex;
    align-items: center;
    height: calc(556 / 2 * 0.1rem);
    @include mq() {
        height: 20rem;
    }

    &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        display: block;
        width: calc(1526 / 2 * 0.1rem);
        height: calc(555 / 2 * 0.1rem);
        margin-left: calc(-560 / 2 * 0.1rem);
        background: url(./images/activity2_bg_001.png) no-repeat 0 0;
        background-size: 100%;
        @include mq() {
            width: 55rem;
            height: 20rem;
            margin-left: -24rem;
        }
    }
}

.activity2__ttl {
    font-size: calc(76 / 2 * 0.1rem);
    font-weight: bold;
    letter-spacing: 0.45em;
    margin: 0 0 calc(42 / 2 * 0.1rem) calc(176 / 2 * 0.1rem);
    color: #fff;
    @include mq() {
        font-size: 2.6rem;
        margin: 0 0 1rem 0;
    }
}

.activity2__btn {
    width: calc(400 / 2 * 0.1rem);
    margin-left: calc(176 / 2 * 0.1rem);
    @include mq() {
        width: 14rem;
        margin-left: 0;
    }
}

.popup {
    position: relative;
    width: calc(800 / 2 * 0.1rem);
    max-height: 90vh;
    padding: calc(24 / 2 * 0.1rem);
    margin: calc(24 / 2 * 0.1rem) auto;
    border: 2px solid #7f9bda;
    background-color: #fff;
    border-radius: calc(8 / 2 * 0.1rem);
    overflow: auto;
    @include mq() {
        width: auto;
        max-height: calc(70vh - 30px);
        min-height: 26rem;
        margin: 0 0.8rem;
        padding: 1.2rem;
    }
}

.popup__img {
    text-align: center;
    @include mq() {
    }

    img {
        max-width: calc(500 / 2 * 0.1rem);
        width: 100%;
        height: auto;
        @include mq() {
            max-width: 100%;
        }
    }
}

.popup__img--type2 {
    img {
        max-width: 100%;
        @include mq() {
        }
    }
}

.popup__ttl {
    font-size: calc(22 / 2 * 0.1rem);
    font-weight: bold;
    color: #fff;
    background-color: #7f9bda;
    margin: calc(-24 / 2 * 0.1rem) calc(-24 / 2 * 0.1rem) calc(24 / 2 * 0.1rem);
    padding: calc(16 / 2 * 0.1rem) calc(24 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.6rem;
        margin: -1.2rem -1.2rem 1.6rem;
        padding: 1rem 1.2rem;
    }
}

.popup__txt {
    font-size: calc(20 / 2 * 0.1rem);
    margin-bottom: calc(20 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.4rem;
        margin-bottom: 2.4rem;
    }
}

.policy__row {
    display: flex;
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        display: block;
        margin-bottom: 3rem;
    }
}

.policy__col {
    width: calc(600 / 2 * 0.1rem);
    margin-right: calc(54 / 2 * 0.1rem);
    @include mq() {
        width: auto;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: calc(18 / 2 * 0.1rem);
        @include mq() {
            margin-bottom: 3rem;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.policy__col--movie {
    @include mq() {
        margin-right: -1.5rem;
        margin-left: -1.5rem;
    }

    .policy__col__inner {
        position: relative;
        @include mq() {
            height: 0;
            padding-top: 56.25%;
        }

        iframe {
            width: calc(600 / 2 * 0.1rem);
            height: calc(338 / 2 * 0.1rem);
            vertical-align: bottom;
            @include mq() {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.policy__col2 {
    flex: 1;
    @include mq() {
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.policy__body {
    padding: 0 calc(20 / 2 * 0.1rem);
    margin-bottom: calc(52 / 2 * 0.1rem);
    @include mq() {
        padding: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.policy__txt {
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        margin-bottom: 3rem;
    }
}

.policy__list {
    font-size: calc(36 / 2 * 0.1rem);
    font-weight: bold;
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }

    > li {
        position: relative;
        padding-left: calc(36 / 2 * 0.1rem);
        line-height: 1.4;
        @include mq() {
            padding-left: 1.8rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0.7em;
            left: 0;
            width: calc(30 / 2 * 0.1rem);
            height: 2px;
            background-color: #101c52;
            @include mq() {
                width: 1.4rem;
            }
        }

        + li {
            margin-top: calc(20 / 2 * 0.1rem);
            @include mq() {
                margin-top: 1rem;
            }
        }
    }
}

.banner {
    background-color: #7f9bda;
    padding: calc(58 / 2 * 0.1rem) 0;
    @include mq() {
        padding: 1.5rem 0;
    }
}

.banner__inner {
    @include mq() {
    }
}

.banner__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    @include mq() {
        display: block;
    }

    > li {
        width: calc(579 / 2 * 0.1rem);
        @include mq() {
            width: auto;
        }

        &:first-child {
            margin-top: calc(-44 / 2 * 0.1rem);
            @include mq() {
                margin-top: -1.8rem;
            }
        }

        + li {
            @include mq() {
                margin-top: 1.5rem;
            }
        }

        img {
            width: 100%;
            height: auto;
            @include mq() {
            }
        }
    }
}

.connect {
    position: relative;
    background-color: #f2f2f1;
    padding-bottom: 0 !important;
    @include mq() {
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(142 / 2 * 0.1rem);
        width: 100%;
        height: calc(156 / 2 * 0.1rem);
        background-color: #b1c554;
        @include mq() {
            bottom: 7.1rem;
            height: 7.8rem;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: calc(10 / 2 * 0.1rem);
        width: calc(481 / 2 * 0.1rem);
        height: calc(460 / 2 * 0.1rem);
        background: url(./images/connect_bg_001.png) no-repeat 0 0;
        background-size: 100%;
        margin-left: calc(-238 / 2 * 0.1rem);
        @include mq() {
            width: 25.5rem;
            height: 24.37rem;
        }
    }
}

.connect__inner {
    position: relative;
    padding-bottom: calc(492 / 2 * 0.1rem);
    @include mq() {
        padding-bottom: 25.8rem;
    }
}

.connect__sns {
    display: flex;
    justify-content: center;
    margin: 0 calc(-55 / 2 * 0.1rem);
    @include mq() {
        justify-content: space-between;
        margin: 0 0 3rem;
    }

    > li {
        margin: 0 calc(55 / 2 * 0.1rem);
        @include mq() {
            margin: 0;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(172 / 2 * 0.1rem);
        height: calc(172 / 2 * 0.1rem);
        background-color: #fff;
        border-radius: 50%;
        @include mq() {
            width: 8.6rem;
            height: 8.6rem;
        }
    }

    img {
        height: auto;
    }
}

.connect__sns__youtube {
    img {
        width: calc(97 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.connect__sns__facebook {
    img {
        width: calc(53 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.connect__sns__twitter {
    img {
        width: calc(88 / 2 * 0.1rem);
        @include mq() {
        }
    }
}

.connect__btns {
    position: absolute;
    left: 0;
    bottom: calc(142 / 2 * 0.1rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(156 / 2 * 0.1rem);
    margin-bottom: 0;
    padding: 0 calc(12 / 2 * 0.1rem);
    @include mq() {
        position: relative;
        bottom: auto;
        height: auto;
        display: block;
        padding: 0;
    }

    > li {
        width: calc(396 / 2 * 0.1rem);
        @include mq() {
            width: auto;
            margin: 0 4.5rem;
        }

        + li {
            @include mq() {
                margin-top: 2rem;
            }
        }
    }
}

.support__list {
    @include mq() {
    }

    > li {
        border-top: calc(4 / 2 * 0.1rem) solid #aebfe6;
        border-bottom: calc(4 / 2 * 0.1rem) solid #aebfe6;
        @include mq() {
            border-top: none;
            border-bottom: none;
        }

        + li {
            margin-top: calc(40 / 2 * 0.1rem);
            @include mq() {
                margin-top: 4rem;
            }
        }
    }

    a {
        display: block;
        padding: calc(32 / 2 * 0.1rem) 0;
        text-decoration: none;
        @include mq() {
            padding: 0;
        }
    }

    dl {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        @include mq() {
            display: block;
        }

        > dt {
            display: flex;
            align-items: center;
            width: calc(442 / 2 * 0.1rem);
            color: #7b95d2;
            font-size: calc(32 / 2 * 0.1rem);
            font-weight: bold;
            @include mq() {
                display: block;
                text-align: center;
                line-height: 1.2;
                width: auto;
                font-size: 2.4rem;
                border-top: 0.4rem solid #aebfe6;
                border-bottom: 0.4rem solid #aebfe6;
                padding: 2.6rem 0;
                margin-bottom: 1.6rem;
            }

            span {
                position: relative;
                display: block;
                padding: 0 calc(30 / 2 * 0.1rem) 0 calc(88 / 2 * 0.1rem);
                @include mq() {
                    display: inline-block;
                    padding: 0 0 0 3.2rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: calc(30 / 2 * 0.1rem);
                    width: calc(26 / 2 * 0.1rem);
                    height: calc(26 / 2 * 0.1rem);
                    margin-top: calc(-12 / 2 * 0.1rem);
                    background: url(./images/ic_arrow_001.png) no-repeat 0 0;
                    background-size: 100%;
                    @include mq() {
                        left: 0;
                        width: 2rem;
                        height: 2rem;
                        margin-top: -1rem;
                    }
                }
            }
        }

        > dd {
            display: flex;
            color: #101c52;
            @include mq() {
                display: block;
                text-align: center;
            }
        }
    }
}

.support__list__pcHide {
    display: none;
    @include mq() {
        display: inline;
    }
}

.support__list__spHide {
    @include mq() {
        display: none;
    }
}

.movie {
    display: flex;
    align-items: center;
    @include mq() {
        flex-wrap: wrap;
    }
}
.movie__col {
    width: calc(640 / 2 * 0.1rem);
    margin-right: calc(92 / 2 * 0.1rem);
    @include mq() {
        width: calc(100% + 3rem);
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        order: 2;
    }
}

.movie__col__inner {
    position: relative;
    @include mq() {
        height: 0;
        padding-top: 56.25%;
    }

    iframe {
        width: calc(640 / 2 * 0.1rem);
        height: calc(360 / 2 * 0.1rem);
        vertical-align: bottom;
        @include mq() {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.movie__col2 {
    @include mq() {
        width: 100%;
        order: 1;
        text-align: center;
        margin-bottom: 2rem;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.more {
    margin-bottom: calc(30 / 2 * 0.1rem);
    @include mq() {
    }
}

.more__btn {
    margin-bottom: 0;
    @include mq() {
    }

    a {
        display: block;
        padding: calc(8 / 2 * 0.1rem) 0;
        background-color: #7f9bda;
        color: #fff;
        text-decoration: none;
        text-align: center;
        @include mq() {
            padding: 1rem 0;
        }

        span {
            display: inline-block;
            @include mq() {
            }

            &::before,
            &::after {
                content: "▼";
                margin: 0 calc(12 / 2 * 0.1rem);
                @include mq() {
                    margin: 0 0.8rem;
                }
            }
        }
    }
}

.more__content {
    display: none;
    @include mq() {
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.comic {
    position: relative;
    opacity: 0;
    width: calc(640 / 2 * 0.1rem);
    margin: 0 auto calc(160 / 2 * 0.1rem);
    @include mq() {
        width: auto;
        margin: 0 0 8rem;
    }

    &.slick-initialized {
        opacity: 1;
    }

    img {
        width: 100%;
        height: auto;
    }

    .slick-arrow {
        position: absolute;
        top: calc(360 / 2 * 0.1rem);
        width: calc(96 / 2 * 0.1rem);
        height: calc(96 / 2 * 0.1rem);
        z-index: 10;
        text-indent: -99999rem;
        background-color: transparent;
        border: none;
        border-left: calc(12 / 2 * 0.1rem) solid #7f9bda;
        border-bottom: calc(12 / 2 * 0.1rem) solid #7f9bda;
        outline: none;
        @include mq() {
            top: 18rem;
            width: 2rem;
            height: 2rem;
            border-left-width: 0.4rem;
            border-bottom-width: 0.4rem;
        }

        &.slick-disabled {
            border-left-color: #cbcbcb;
            border-bottom-color: #cbcbcb;
        }
    }

    .slick-prev {
        left: calc(-160 / 2 * 0.1rem);
        transform: rotate(45deg);
        @include mq() {
            left: 0;
        }
    }

    .slick-next {
        right: calc(-160 / 2 * 0.1rem);
        transform: rotate(225deg);
        @include mq() {
            right: 0;
        }
    }

    .slick-dots {
        position: absolute;
        left: 0;
        bottom: calc(-60 / 2 * 0.1rem);
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        @include mq() {
            bottom: -3rem;
        }

        button {
            padding: 0;
            display: block;
            width: calc(12 / 2 * 0.1rem);
            height: calc(12 / 2 * 0.1rem);
            margin: 0 calc(6 / 2 * 0.1rem);
            font-size: 1px;
            overflow: hidden;
            text-indent: -99999rem;
            border: none;
            background-color: #cbcbcb;
            border-radius: 50%;
            @include mq() {
            }
        }

        .slick-active {
            button {
                background-color: #7f9bda;
            }
        }
    }
}

.tab {
    @include mq() {
    }
}

.tab__nav {
    display: flex;
    width: calc(360 / 2 * 0.1rem);
    margin: 0 0 0 auto;
    @include mq() {
        width: auto;
        margin: 0 0 2rem;
    }

    > li {
        width: 50%;
        border: 2px solid #7f9bda;
        @include mq() {
        }

        &:first-child {
            border-right: none;
            border-radius: 4px 0 0 4px;
            @include mq() {
            }
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
            @include mq() {
            }
        }

        a {
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            display: block;
            padding: calc(8 / 2 * 0.1rem);
            font-size: calc(18 / 2 * 0.1rem);
            line-height: 1.2;
            @include mq() {
                padding: 0.8rem;
                font-size: 1.2rem;
            }

            &.is-current {
                background-color: #7f9bda;
                color: #fff;
            }
        }
    }
}

.tab__content {
    display: none;
    @include mq() {
    }

    &.is-current {
        display: block;
        @include mq() {
        }
    }
}

.histories {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: calc(40 / 2 * 0.1rem) calc(-12 / 2 * 0.1rem) calc(80 / 2 * 0.1rem);
    @include mq() {
        display: block;
        margin: 2.4rem 0 4.8rem;
    }
}

.history {
    width: 50%;
    padding: 0 calc(12 / 2 * 0.1rem);
    @include mq() {
        width: auto;
        padding: 0;
    }

    &:nth-child(n + 2) {
        @include mq() {
            margin-top: 2rem;
        }
    }

    &:nth-child(n + 3) {
        margin-top: calc(24 / 2 * 0.1rem);
        @include mq() {
            margin-top: 2rem;
        }
    }

    img {
        width: 100%;
        @include mq() {
        }
    }
}

.history__txt {
    font-size: calc(16 / 2 * 0.1rem);
    background-color: #eaeaea;
    padding: calc(16 / 2 * 0.1rem) calc(12 / 2 * 0.1rem);
    margin-bottom: 0;
    @include mq() {
        font-size: 1.1rem;
    }
}

.history-lead {
    font-size: calc(26 / 2 * 0.1rem);
    font-weight: bold;
    @include mq() {
        font-size: 1.6rem;
    }
}

.posts {
    margin-bottom: calc(60 / 2 * 0.1rem);
    // border-top: calc(6 / 2 * 0.1rem) solid #7f9bda;
    @include mq() {
        margin-bottom: 4rem;
    }
}

.post {
    position: relative;
    background-color: #f7f6f5;
    @include mq() {
    }

    & + & {
        margin-top: calc(24 / 2 * 0.1rem);
        @include mq() {
            margin-top: 2rem;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: calc(6 / 2 * 0.1rem);
        background-color: #7f9bda;
        transition-duration: 0.3s;
        @include mq() {
            display: none;
        }
    }

    &:hover::after {
        width: 100%;
    }

    > a {
        display: flex;
        text-decoration: none;
        color: #101c52;
        align-items: flex-start;
        padding: calc(28 / 2 * 0.1rem);
        opacity: 1 !important;
        @include mq() {
            display: block;
            padding: 1.5rem;
        }
    }
}

.post__img {
    width: calc(280 / 2 * 0.1rem);
    height: calc(240 / 2 * 0.1rem);
    margin-right: calc(24 / 2 * 0.1rem);
    @include mq() {
        width: 100%;
        height: 18rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: "object-fit: cover;";
    }
}

.post__detail {
    flex: 1;
    @include mq() {
        margin-top: 1.2rem;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.post__date {
    font-size: calc(18 / 2 * 0.1rem);
    margin-bottom: 0;
    @include mq() {
        margin-bottom: 0.4rem;
        font-size: 1.2rem;
    }
}

.post__ttl {
    font-weight: bold;
    margin-bottom: calc(8 / 2 * 0.1rem);
    @include mq() {
        margin-bottom: 0.8rem;
        font-size: 1.6rem;
    }
}

.post__txt {
    font-size: calc(20 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.2rem;
    }
}

.pager {
    display: flex;
    justify-content: center;
    font-size: calc(20 / 2 * 0.1rem);
    @include mq() {
        font-size: 1.2rem;
    }

    .wp-pagenavi {
        display: flex;
        justify-content: center;
        margin: 0 -0.3em;
    }

    .page,
    .current,
    .extend,
    .previouspostslink,
    .nextpostslink {
        display: inline-block;
        padding: 0 0.3em;
        text-align: center;
        @include mq() {
        }
    }

    .previouspostslink,
    .nextpostslink {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            width: 0.6em;
            height: 0.6em;
            border-left: 2px solid #7f9bda;
            border-bottom: 2px solid #7f9bda;
            margin-top: -0.3em;
        }
    }

    .previouspostslink {
        padding-left: 0.8em;
        &::before {
            left: 0;
            transform: rotate(45deg);
        }
    }

    .nextpostslink {
        padding-right: 0.8em;
        &::before {
            right: 0;
            transform: rotate(22545deg);
        }
    }

    .extend {
        color: #666;
    }
}

.article {
    overflow: hidden;
    // font-size: calc(16 / 2 * 0.1rem);
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        // font-size: 1.3rem;
        // margin-bottom: 16px;
    }
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
    h2 {
        font-size: calc(36 / 2 * 0.1rem);
        font-weight: bold;
        margin: calc(60 / 2 * 0.1rem) 0;
        @include mq() {
            font-size: 2.1rem;
            margin: 3rem 0 2rem;
        }

        span {
            display: block;
            font-size: calc(24 / 2 * 0.1rem);
            color: #7f9bda;
            margin-bottom: calc(8 / 2 * 0.1rem);
            text-align: right;
            @include mq() {
                font-size: 1.2rem;
                margin-bottom: 0.4rem;
            }
        }
    }
    h3 {
        font-size: calc(32 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.3;
        color: #fff;
        background-color: #7f9bda;
        padding: calc(8 / 2 * 0.1rem) calc(24 / 2 * 0.1rem) calc(10 / 2 * 0.1rem);
        margin: calc(60 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.8rem;
            padding: 0.6rem 1.5rem 1rem;
            margin: 3rem 0 1.8rem;
        }
    }
    h4 {
        position: relative;
        font-size: calc(32 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.3;
        color: #7f9bda;
        padding: 0 calc(24 / 2 * 0.1rem) calc(12 / 2 * 0.1rem) calc(44 / 2 * 0.1rem);
        border-bottom: 1px solid #7f9bda;
        margin: calc(60 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.8rem;
            padding: 0 1.5rem 1rem 2.4rem;
            margin: 3rem 0 1.8rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: calc(12 / 2 * 0.1rem);
            top: 0;
            bottom: calc(12 / 2 * 0.1rem);
            width: calc(5 / 2 * 0.1rem);
            background-color: #7f9bda;
            @include mq() {
                left: 0.8rem;
                bottom: 1rem;
                width: 0.3rem;
            }
        }
    }
    h5 {
        margin: calc(52 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        font-size: calc(28 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.3;
        background-color: #eaeaea;
        padding: calc(10 / 2 * 0.1rem) calc(24 / 2 * 0.1rem) calc(14 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.5rem;
            padding: 0.8rem 1.5rem 1rem;
            margin: 3rem 0 1.8rem;
        }
    }
    h6 {
        font-size: calc(28 / 2 * 0.1rem);
        font-weight: bold;
        margin: calc(52 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.4rem;
            margin: 3rem 0 1.8rem;
        }
    }
    p {
        margin-bottom: 1.5em;
    }
    ul {
        margin-bottom: 1.5em;
        > li {
            position: relative;
            padding-left: 1.4em;
            margin-left: 1.4em;
            &:before {
                content: "";
                position: absolute;
                top: 0.65em;
                left: 0;
                width: calc(5 / 2 * 0.1rem);
                height: calc(5 / 2 * 0.1rem);
                border-radius: 50%;
                background: #7f9bda;
                @include mq() {
                    width: 0.5rem;
                    height: 0.5rem;
                }
            }
        }
    }
    ol {
        margin-bottom: 1.5em;
        > li {
            list-style-type: decimal;
            margin-left: 2.5em;
        }
    }
    blockquote {
        background-color: #fff;
        border: calc(4 / 2 * 0.1rem) dotted #7f9bda;
        padding: calc(24 / 2 * 0.1rem);
        margin: 3.6em 0;
        @include mq() {
            border-width: 0.2rem;
            padding: 1.2rem;
            margin-bottom: 2.4rem;
        }
        p,
        ul,
        ol,
        dl {
            margin-bottom: 0;
            margin-bottom: 0;
        }
    }
    hr {
        clear: both;
        border: none;
        border-top: calc(4 / 2 * 0.1rem) solid #7f9bda;
        margin: 3.6em 0;
        @include mq() {
            margin: 3rem 0;
        }
    }
    pre {
        background-color: #eaeaea;
        padding: calc(28 / 2 * 0.1rem);
        margin: 3.6em 0;
        @include mq() {
            padding: 1.2rem;
            margin: 3rem 0;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        margin: 3.6em 0;
        @include mq() {
            width: 100%;
            max-width: none;
            margin: 3rem 0;
        }
    }
    img.alignleft {
        clear: both;
        float: left;
        margin-top: 0;
        margin-right: calc(40 / 2 * 0.1rem);
        margin-bottom: 3.6em;
        @include mq() {
            float: none;
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 100%;
            height: auto;
        }
    }
    img.aligncenter {
        display: table;
        clear: both;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3.6em;
        @include mq() {
            float: none;
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 100%;
            height: auto;
        }
    }
    img.alignright {
        clear: both;
        float: right;
        margin-top: 0;
        margin-left: calc(40 / 2 * 0.1rem);
        margin-bottom: 3.6em;
        @include mq() {
            float: none;
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 100%;
            height: auto;
        }
    }
    .wp-block-image {
        max-width: 100%;
        height: auto;
        margin: 3.6em 0;
        @include mq() {
            margin: 3rem 0;
        }

        .aligncenter {
            text-align: center;
        }

        .alignright {
            text-align: right;
        }

        img {
            margin: 0;
            @include mq() {
                margin: 0;
            }
        }

        figcaption {
            margin-top: calc(8 / 2 * 0.1rem);
            @include mq() {
                margin-bottom: 0.8rem;
            }
        }
    }
    .wp-block-embed-youtube {
        max-width: 100%;
        height: auto;
        margin: 3.6em 0;
        @include mq() {
            margin: 3rem 0;
        }

        iframe {
            vertical-align: bottom;
        }

        .wp-block-embed__wrapper {
            @include mq() {
                position: relative;
                height: 0;
                padding-top: 56.25%;
            }

            iframe {
                @include mq() {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        figcaption {
            margin-top: calc(8 / 2 * 0.1rem);
            @include mq() {
                margin-bottom: 0.8rem;
            }
        }
    }
}

.blog {
    overflow: hidden;
    // font-size: calc(16 / 2 * 0.1rem);
    margin-bottom: calc(60 / 2 * 0.1rem);
    @include mq() {
        // font-size: 1.3rem;
        // margin-bottom: 16px;
    }
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
    h2 {
        font-size: calc(36 / 2 * 0.1rem);
        font-weight: bold;
        margin: calc(60 / 2 * 0.1rem) 0;
        @include mq() {
            font-size: 2.1rem;
            margin: 3rem 0 2rem;
        }

        span {
            display: block;
            font-size: calc(24 / 2 * 0.1rem);
            color: #7f9bda;
            margin-bottom: calc(8 / 2 * 0.1rem);
            text-align: right;
            @include mq() {
                font-size: 1.2rem;
                margin-bottom: 0.4rem;
            }
        }
    }
    h3 {
        font-size: calc(32 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.3;
        color: #fff;
        background-color: #7f9bda;
        padding: calc(8 / 2 * 0.1rem) calc(24 / 2 * 0.1rem) calc(10 / 2 * 0.1rem);
        margin: calc(60 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.8rem;
            padding: 0.6rem 1.5rem 1rem;
            margin: 3rem 0 1.8rem;
        }
    }
    h4 {
        position: relative;
        font-size: calc(32 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.3;
        color: #7f9bda;
        padding: 0 calc(24 / 2 * 0.1rem) calc(12 / 2 * 0.1rem) calc(44 / 2 * 0.1rem);
        border-bottom: 1px solid #7f9bda;
        margin: calc(60 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.8rem;
            padding: 0 1.5rem 1rem 2.4rem;
            margin: 3rem 0 1.8rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: calc(12 / 2 * 0.1rem);
            top: 0;
            bottom: calc(12 / 2 * 0.1rem);
            width: calc(5 / 2 * 0.1rem);
            background-color: #7f9bda;
            @include mq() {
                left: 0.8rem;
                bottom: 1rem;
                width: 0.3rem;
            }
        }
    }
    h5 {
        margin: calc(52 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        font-size: calc(28 / 2 * 0.1rem);
        font-weight: bold;
        line-height: 1.3;
        background-color: #eaeaea;
        padding: calc(10 / 2 * 0.1rem) calc(24 / 2 * 0.1rem) calc(14 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.5rem;
            padding: 0.8rem 1.5rem 1rem;
            margin: 3rem 0 1.8rem;
        }
    }
    h6 {
        font-size: calc(28 / 2 * 0.1rem);
        font-weight: bold;
        margin: calc(52 / 2 * 0.1rem) 0 calc(40 / 2 * 0.1rem);
        @include mq() {
            font-size: 1.4rem;
            margin: 3rem 0 1.8rem;
        }
    }
    p {
        margin-bottom: 1.5em;
    }
    ul {
        margin-bottom: 1.5em;
        > li {
            position: relative;
            padding-left: 1.4em;
            margin-left: 1.4em;
            &:before {
                content: "";
                position: absolute;
                top: 0.65em;
                left: 0;
                width: calc(5 / 2 * 0.1rem);
                height: calc(5 / 2 * 0.1rem);
                border-radius: 50%;
                background: #7f9bda;
                @include mq() {
                    width: 0.5rem;
                    height: 0.5rem;
                }
            }
        }
    }
    ol {
        margin-bottom: 1.5em;
        > li {
            list-style-type: decimal;
            margin-left: 2.5em;
        }
    }
    blockquote {
        background-color: #fff;
        border: calc(4 / 2 * 0.1rem) dotted #7f9bda;
        padding: calc(24 / 2 * 0.1rem);
        margin: 3.6em 0;
        @include mq() {
            border-width: 0.2rem;
            padding: 1.2rem;
            margin-bottom: 2.4rem;
        }
        p,
        ul,
        ol,
        dl {
            margin-bottom: 0;
            margin-bottom: 0;
        }
    }
    hr {
        clear: both;
        border: none;
        border-top: calc(4 / 2 * 0.1rem) solid #7f9bda;
        margin: 3.6em 0;
        @include mq() {
            margin: 3rem 0;
        }
    }
    pre {
        background-color: #eaeaea;
        padding: calc(28 / 2 * 0.1rem);
        margin: 3.6em 0;
        @include mq() {
            padding: 1.2rem;
            margin: 3rem 0;
        }
    }
    img {
        width: 100%;
        max-width: calc(450 / 2 * 0.1rem);
        height: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        @include mq() {
            width: 100%;
            max-width: none;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .wp-block-image {
        height: auto;
        margin: 2em 0;
        @include mq() {
            margin: 2rem 0;
        }

        img {
            margin-top: 0;
            margin-bottom: 0;
            @include mq() {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        figcaption {
            margin-top: calc(8 / 2 * 0.1rem);
            @include mq() {
                margin-bottom: 0.8rem;
            }
        }
    }
    .wp-block-embed-youtube {
        max-width: 100%;
        height: auto;
        margin: 3.6em 0;
        @include mq() {
            margin: 3rem 0;
        }

        iframe {
            vertical-align: bottom;
        }

        .wp-block-embed__wrapper {
            @include mq() {
                position: relative;
                height: 0;
                padding-top: 56.25%;
            }

            iframe {
                @include mq() {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        figcaption {
            margin-top: calc(8 / 2 * 0.1rem);
            @include mq() {
                margin-bottom: 0.8rem;
            }
        }
    }
}

.mfp-bg {
    z-index: 100042;
}

.mfp-wrap {
    z-index: 100043;
}

.mfp-content {
    z-index: 100045;
}

.mfp-preloader {
    z-index: 100044;
}

button.mfp-close,
button.mfp-arrow {
    z-index: 100046;
}

.mfp-arrow {
    width: 60px;
    height: 60px;
    opacity: 1;
    @include mq() {
        top: 6rem;
        width: 8rem;
        height: 4.8rem;
        // background-color: #f00 !important;
        // margin-top: -26rem;
    }

    &::before {
        display: none;
        @include mq() {
        }
    }

    &::after {
        margin: 0;
        top: 0;
        left: 0;
        opacity: 1;
        border: none;
        width: 60px;
        height: 60px;
        border-left: 6px solid #7f9bda;
        border-bottom: 6px solid #7f9bda;
        @include mq() {
            top: 0.8rem;
            width: 2.4rem;
            height: 2.4rem;
            border-left-width: 0.3rem;
            border-bottom-width: 0.3rem;
        }
    }
}

.mfp-arrow-right {
    right: 32px;
    @include mq() {
        right: 1.2rem;
    }

    &::after {
        transform: rotate(-135deg);
        @include mq() {
            left: auto;
            right: 1rem;
        }
    }
}

.mfp-arrow-left {
    left: 32px;
    @include mq() {
        left: 1.2rem;
    }

    &::after {
        transform: rotate(45deg);
        @include mq() {
            left: 1rem;
        }
    }
}

button.mfp-close {
    display: none;
}
