<!DOCTYPE html>
<html lang="ja">
{% if useSnsShare === true -%}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{%- else -%}
<head>
{%- endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>{{ title }}</title>
    {% if description -%}
    <meta name="description" content="{{ description }}">
    {%- else -%}
    <meta name="description" content="ディスクリプション文言">
    {%- endif %}
    {% if keywords -%}
    <meta name="keywords" content="{{ keywords }}">
    {%- else -%}
    <meta name="keywords" content="キーワード1,キーワード2">
    {%- endif %}
{%- if useSnsShare === true %}
    <meta property="og:site_name" content="">
    <meta property="og:title" content="{{ title }}">
    {% if description -%}
    <meta property="og:description" content="{{ description }}">
    {%- else -%}
    <meta property="og:description" content="ディスクリプション文言">
    {%- endif %}
    <meta property="og:url" content="ページのURLを指定する">
    {% if ogImage -%}
    <meta property="og:image" content="{{ ogImage }}">
    {%- else -%}
    <meta property="og:image" content="{{ root }}/images/ogimage.jpg">
    {%- endif %}
    {% if ogType -%}
    <meta property="og:type" content="{{ ogType }}">
    {%- else -%}
    <meta property="og:type" content="article">
    {%- endif %}
    <meta property="og:locale" content="ja_JP">
    {% if description -%}
    <meta name="twitter:description" content="{{ description }}">
    {%- else -%}
    <meta name="twitter:description" content="ディスクリプション文言">
    {%- endif %}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:site" content="">
    <meta name="twitter:card" content="summary">
{%- endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
    <link rel="stylesheet" href="{{ root }}/aos.css">
    <link rel="stylesheet" href="{{ root }}/slick.css">
    <link rel="stylesheet" href="{{ root }}/magnific-popup.css">
    <link rel="stylesheet" href="{{ root }}/base.css">
    <link rel="stylesheet" href="{{ root }}/module.css">
    {% block css %}{% endblock %}
    {% block headJs %}{% endblock %}
</head>
<body>

    <div class="wrap" id="pagetop">
        <header class="header js-header">
            <div class="header__inner">

                <h1 class="header__logo">
                    <a href="{{ root }}/">
                        <img src="{{ root }}/images/logo_site_001.png" alt="ふじた幸久" class="header__logo__img">
                        <img src="{{ root }}/images/logo_site_002.png" alt="Official site" class="header__logo__img2">
                    </a>
                </h1>

                <div class="header__navs">
                    <ul class="header__nav">
                        {% if current === 'home' -%}
                        <li class="header__nav__item is-current">
                        {% else -%}
                        <li class="header__nav__item">
                        {% endif -%}
                            <a href="{{ root }}/">
                                ホーム
                            </a>
                        </li>
                        {% if current === 'about' -%}
                        <li class="header__nav__item is-current">
                        {% else -%}
                        <li class="header__nav__item">
                        {% endif -%}
                            <a href="{{ root }}/profile.html">
                                藤田幸久とは
                            </a>
                            <div class="header__subNav">
                                <ul class="header__subNav__inner">
                                    <li class="header__subNav__item">
                                        <a href="{{ root }}/profile.html">
                                            プロフィール
                                        </a>
                                        <ul class="header__subNav2">
                                            <li class="header__subNav2__item">
                                                <a href="#">
                                                    テキストテキスト
                                                </a>
                                            </li>
                                            <li class="header__subNav2__item">
                                                <a href="#">
                                                    テキスト
                                                </a>
                                            </li>
                                            <li class="header__subNav2__item">
                                                <a href="#">
                                                    テキストテキストテキストテキスト
                                                </a>
                                            </li>
                                            <li class="header__subNav2__item">
                                                <a href="#">
                                                    テキストテキスト
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="{{ root }}/history.html">
                                            藤田幸久の軌跡
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            政策について
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="{{ root }}/manga.html">
                                            マンガ「ふじた幸久物語」
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            ニコニコマークの由来
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            事務所案内
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            English（英文略歴）
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            茨城自慢
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__nav__item">
                            <a href="{{ root }}/activity.html">
                                活動実績
                            </a>
                            <div class="header__subNav">
                                <ul class="header__subNav__inner">
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            ブログ
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            動画
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            質疑議事録、質問主意書
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            新聞記事等
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            藤田幸久広報誌
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            English（英文記事）
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__nav__item">
                            <a href="#">
                                つながる
                            </a>
                            <div class="header__subNav">
                                <ul class="header__subNav__inner">
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            メッセージを送る
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            メルマガ（登録・解除）
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            リンク
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__nav__item">
                            <a href="#">
                                活動を支援する
                            </a>
                            <div class="header__subNav">
                                <ul class="header__subNav__inner">
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            後援会に入会する
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            ポスターを掲示する
                                        </a>
                                    </li>
                                    <li class="header__subNav__item">
                                        <a href="#">
                                            ボランティア<br>
                                            ・インターン募集
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    <!-- /.header__nav --></ul>

                    <ul class="header__sns">
                        <li class="header__sns__youtube">
                            <a href="#">
                                <img src="{{ root }}/images/logo_youtube_001.png" alt="Youtube">
                            </a>
                        </li>
                        <li class="header__sns__facebook">
                            <a href="#">
                                <img src="{{ root }}/images/logo_facebook_001.png" alt="Facebook">
                            </a>
                        </li>
                        <li class="header__sns__twitter">
                            <a href="#">
                                <img src="{{ root }}/images/logo_twitter_001.png" alt="Twitter">
                            </a>
                        </li>
                    <!-- /.header__sns --></ul>
                <!-- /.header__navs --></div>
 
                <p class="header__activity">
                    <a href="{{ root }}/activity.html">
                        活動実績
                    </a>
                <!-- /.header__activity --></p>

                <p class="header__menu">
                    <a href="javascript:;" class="header__menu__hamburger js-toggleMenu">
                        <span></span>
                        <span></span>
                        <span class="header__menu__hamburger__text">
                            MENU
                        </span>
                    </a>
                <!-- /.header__menu --></p>
            
            <!-- /.header__inner --></div>
        <!-- /.header --></header>




        <main class="content">

{% block content %}{% endblock %}

            {% if hasActivity-%}
            <div class="sec sec--column" data-aos="fade-up">
                <div class="sec__inner container">
                    <h2 class="ttl">
                        <span class="ttl__en">Column</span>
                        <span class="ttl__ja">コラム</span>
                    <!-- /.ttl --></h2>

                    <p class="btn-wrap">
                        <a href="#" class="btn">
                            MORE
                        </a>
                    <!-- /.btn-wrap --></p>
                <!-- /.container --></div>
            <!-- /.sec --></div>
            {% endif -%}
        <!-- /.content --></main>




        <div class="pagetop js-pagetop">
            <div class="pagetop__inner js-pagetop__inner">
                <a href="#pagetop" class="js-pagetop__trigger">PAGE TOP</a>
            </div>
        </div>




        <footer class="footer">
            <div class="container">

                <div class="footer__row">
                    <div class="footer__col">
                        <p class="footer__logo">
                            <a href="./index.html">
                                <img src="{{ root }}/images/logo_site_001.png" alt="ふじた幸久" class="footer__logo__img">
                                <img src="{{ root }}/images/logo_site_002.png" alt="Official site" class="footer__logo__img2">
                            </a>
                        </p>
                        <p class="footer__party">
                            <img src="{{ root }}/images/logo_party_001.png" alt="立憲民主党">
                        </p>
                        <dl class="footer__address">
                            <dt>茨城事務所</dt>
                            <dd>
                                〒314-0031<br>
                                茨城県鹿嶋市宮中5265-2<br>
                                TEL.0299-94-6462 / FAX.0299-94-6463<br>
                                E-mail：info@y-fujita.com
                            </dd>
                        </dl>
                        <dl class="footer__address">
                            <dt>茨城事務所</dt>
                            <dd>
                                〒314-0031<br>
                                茨城県鹿嶋市宮中5265-2<br>
                                TEL.0299-94-6462 / FAX.0299-94-6463<br>
                                E-mail：info@y-fujita.com
                            </dd>
                        </dl>
                    <!-- /.footer__col --></div>

                    <div class="footer__col2">
                        <ul class="footer__nav">
                            <li class="footer__nav__item">
                                <a href="{{ root }}/">
                                    ホーム
                                </a>
                            </li>
                            <li class="footer__nav__item">
                                <a href="{{ root }}/profile.html">
                                    藤田幸久とは
                                </a>
                                <ul class="footer__subNav">
                                    <li class="footer__subNav__item">
                                        <a href="{{ root }}/profile.html">
                                            プロフィール
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="{{ root }}/history.html">
                                            藤田幸久の軌跡
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            政策について
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="{{ root }}/manga.html">
                                            マンガ「ふじた幸久物語」
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            ニコニコマークの由来
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            事務所案内
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            English（英文略歴）
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            茨城自慢
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer__nav__item">
                                <a href="{{ root }}/activity.html">
                                    活動実績
                                </a>
                                <ul class="footer__subNav">
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            ブログ
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            動画
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            質疑議事録、質問主意書
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            新聞記事等
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            藤田幸久広報誌
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            English（英文記事）
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer__nav__item">
                                <a href="#">
                                    つながる
                                </a>
                                <ul class="footer__subNav">
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            メッセージを送る
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            メルマガ（登録・解除）
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            リンク
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer__nav__item">
                                <a href="#">
                                    活動を支援する
                                </a>
                                <ul class="footer__subNav">
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            後援会に入会する
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            ポスターを掲示する
                                        </a>
                                    </li>
                                    <li class="footer__subNav__item">
                                        <a href="#">
                                            ボランティア<br>・インターン募集
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        <!-- /.footer__nav --></ul>

                        <ul class="footer__sns">
                            <li class="footer__sns__youtube">
                                <a href="#">
                                    <img src="{{ root }}/images/logo_youtube_001.png" alt="Youtube">
                                </a>
                            </li>
                            <li class="footer__sns__facebook">
                                <a href="#">
                                    <img src="{{ root }}/images/logo_facebook_001.png" alt="Facebook">
                                </a>
                            </li>
                            <li class="footer__sns__twitter">
                                <a href="#">
                                    <img src="{{ root }}/images/logo_twitter_001.png" alt="Twitter">
                                </a>
                            </li>
                        <!-- /.footer__sns --></ul>
                    <!-- /.footer__col2 --></div>
                    
                <!-- /.footer__row --></div>

                <div class="footer__row2">
                    <ul class="footer__nav2">
                        <li>
                            <a href="#">
                                プライバシーポリシー
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                サイトマップ
                            </a>
                        </li>
                    </ul>

                    <p class="footer__copyright">
                        Copyright<br> © 2020 Yukihisa Fujita All Right Reserved.
                    </p>
                <!-- /.footer__row2 --></div>

            <!-- /.container --></div>
        <!-- /.footer --></footer>


        <div class="hamburger">
            <div class="hamburger__inner">
                <ul class="hamburger__nav">
                    <li class="hamburger__nav__item">
                        <a href="{{ root }}/">
                            ホーム
                        </a>
                    </li>
                    <li class="hamburger__nav__item">
                        <a href=".{{ root }}/profile.html">
                            藤田幸久とは
                        </a>
                        <ul class="hamburger__subNav">
                            <li class="hamburger__subNav__item">
                                <a href="{{ root }}/profile.html">
                                    プロフィール
                                </a>
                                <ul class="hamburger__subNav2">
                                    <li class="hamburger__subNav2__item">
                                        <a href="#">
                                            テキスト
                                        </a>
                                    </li>
                                    <li class="hamburger__subNav2__item">
                                        <a href="#">
                                            テキスト
                                        </a>
                                    </li>
                                    <li class="hamburger__subNav2__item">
                                        <a href="#">
                                            テキスト
                                        </a>
                                    </li>
                                    <li class="hamburger__subNav2__item">
                                        <a href="#">
                                            テキスト
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="{{ root }}/history.html">
                                    藤田幸久の軌跡
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    政策について
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="{{ root }}/manga.html">
                                    マンガ「ふじた幸久物語」
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    ニコニコマークの由来
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    事務所案内
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    English（英文略歴）
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    茨城自慢
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hamburger__nav__item">
                        <a href="{{ root }}/activity.html">
                            活動実績
                        </a>
                        <ul class="hamburger__subNav">
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    ブログ
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    動画
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    質疑議事録、質問主意書
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    新聞記事等
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    藤田幸久広報誌
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    English（英文記事）
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hamburger__nav__item">
                        <a href="#">
                            つながる
                        </a>
                        <ul class="hamburger__subNav">
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    メッセージを送る
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    メルマガ（登録・解除）
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    リンク
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hamburger__nav__item">
                        <a href="#">
                            活動を支援する
                        </a>
                        <ul class="hamburger__subNav">
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    後援会に入会する
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    ポスターを掲示する
                                </a>
                            </li>
                            <li class="hamburger__subNav__item">
                                <a href="#">
                                    ボランティア・インターン募集
                                </a>
                            </li>
                        </ul>
                    </li>
                <!-- /.hamburger__nav --></ul>

                <ul class="hamburger__sns">
                    <li class="hamburger__sns__youtube">
                        <a href="#">
                            <img src="{{ root }}/images/logo_youtube_002.png" alt="Youtube">
                        </a>
                    </li>
                    <li class="hamburger__sns__facebook">
                        <a href="#">
                            <img src="{{ root }}/images/logo_facebook_002.png" alt="Facebook">
                        </a>
                    </li>
                    <li class="hamburger__sns__twitter">
                        <a href="#">
                            <img src="{{ root }}/images/logo_twitter_002.png" alt="Twitter">
                        </a>
                    </li>
                <!-- /.hamburger__sns --></ul>
            <!-- /.hamburger__inner --></div>
        <!-- /.hamburger --></div>

    <!-- /.wrap --></div>


    <script src="{{ root }}/js/libs/jquery-3.5.1.min.js"></script>
    <script src="{{ root }}/js/libs/aos.js"></script>
    <script src="{{ root }}/js/libs/jquery.matchHeight-min.js"></script>
    <script src="{{ root }}/js/libs/slick.min.js"></script>
    <script src="{{ root }}/js/libs/jquery.magnific-popup.min.js"></script>
    <script src="{{ root }}/js/libs/ofi.min.js"></script>
    <script src="{{ root }}/js/common.js"></script>
    {% block js %}{% endblock %}
</body>
</html>
