@charset "utf-8";

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin mq($breakpoint: sp, $rule: max) {
    $breakpoint: map_get($mq-breakpoints, $breakpoint);
    @media all and (#{$rule}-width: $breakpoint) {
        @content;
    }
}
