{% extends "_layout/default.njk" %}


{% set hasColumn   = true %}
{% set root        = '.' %}
{% set title       = '活動実績' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}



{% block content %}

            <div class="mv2 mv2--activity">
                <div class="mv2__inner container">
                    <p class="mv2__ttl">
                        活動実績
                    </p>
                </div>
            <!-- /.mv2 --></div>




            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="breadcrumbs">
                         <!-- Breadcrumb NavXT -->
                         <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="ホーム" href="{{ root }}/" class="home"><span property="name">ホーム</span></a><meta property="position" content="1"></span></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">活動実績</span><meta property="position" content="2">
                    </div>
                </div>
            <!-- /.breadcrumbs-wrap --></div>




            <div class="sec">
                <div class="sec__inner container">
                    <h1 class="ttl">
                        活動実績につきまして
                    <!-- /.ttl --></h1>

                    <div class="movie">
                        <div class="movie__col">
                            <div class="movie__col__inner">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/eXu9hXOUDAU?rel=0" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div class="movie__col2">
                            <p>
                                これまでの、藤田幸久の主な実績について<br>お伝えさせて頂きます。
                            </p>
                        </div>
                    <!-- /.movie --></div>
                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="sec activity activity--type2">
                <div class="sec__inner container">
                    <h2 class="ttl">
                        活動実績
                    <!-- /.ttl --></h1>

                    <p class="activity__lead">
                        説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文<br>
                        説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
                    <!-- /.activity__lead --></p>


                    <div class="tab js-tab">
                        <ul class="tab__nav">
                            <li>
                                <a href="#tab1" class="js-tab__trigger is-current">茨城県での実績</a>
                            </li>
                            <li>
                                <a href="#tab2" class="js-tab__trigger ">全国での実績</a>
                            </li>
                        </ul>

                        <!-- ▼▼茨城県での実績ここから▼▼ -->
                        <div class="tab__content js-tab__content is-current" id="tab1">
                            <div class="activity__detail" data-aos="activity-detail">
                                <h3 class="activity__detail__ttl" data-aos="zoom-in">
                                    2020年
                                </h3>
                                <ul class="activity__detail__list">
                                    <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                        <a href="#popup1" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                藤田幸久は、新型コロナウイルス対策で茨城２区の市長・町長の全員、医療・介護施設、農協、商工会等を訪問し、家計支援、事業継続支援を行いました。
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                コロナや自然災害の時こそ「いのちを守る」ことが政治の役割です。
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_001.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                        <a href="#popup2" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                「戦いの神」鹿島神宮で、コロナウイルスの鎮静を祈る
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                私の闘いの原点は武甕槌大神（たけみかつちのおおかみ）という「戦いの神」が鎮座する鹿島神宮です。鹿島則良宮司様から大きなパワーを…more
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_002.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                        <a href="#popup3" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                日本医師会との連携による医療資器材の国産化
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                日本医師会中川俊男会長を日本総合研究所寺島実郎会長と表敬しました。日本総合研究所と日本医師会との協力で、医療資器材（マスク、防…more
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_003.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                        <a href="#popup4" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                鹿島医師会（松倉則夫会長）と水戸医師会（原毅会長）に医療用ガウンを調達。
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                耐久性、安全性にすぐれる不織布製。鹿嶋スタジウムのPCR検査でも活躍。
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_004.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                        <a href="#popup5" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                「新型コロナウイルス自己診断マニュアル」（三井石根医師作成）を市民にお届け。
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                予防・自己防衛力アップを支援。市長、農協組合長の何人かは職員にも配布。
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_005.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                        <a href="#popup6" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                「新型コロナ肺炎対策特集・号外」を配布、新聞折り込みも行う。
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                支援策の一覧表は便利で、銀行や税理士さんなども活用。
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_006.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                <!-- /.activity__detail__list --></ul>

                                <h3 class="activity__detail__ttl" data-aos="zoom-in">
                                    2019年
                                </h3>
                                <ul class="activity__detail__list">
                                    <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                        <a href="#popup7" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                涸沼水鳥・湿地センターの建設を実現
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                私は2018年に環境省に働きかけを行い、茨城町と鉾田市に「涸沼水鳥・湿地センター」が建設されることが2019年度予算で決定されました。…more
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_007.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                        <a href="#popup8" class="js-popup-modal" data-modal="activity">
                                            <div class="activity__detail__list__ttl">
                                                東関東自動車道水戸線の予算を決定
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                東関東道水戸線の茨城空港～鉾田インターの開通式に出席しました。民主党政権下、大畠章宏国土交通大臣、石津政雄総務大臣政務官、私が…more
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_008.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                <!-- /.activity__detail__list --></ul>
                            <!-- /.activity__detail --></div>
                        </div>
                        <!-- ▲▲茨城県での実績ここまで▲▲ -->

                        
                        <!-- ▼▼全国での実績ここから▼▼ -->
                        <div class="tab__content js-tab__content" id="tab2">
                            <div class="activity__detail" data-aos="activity-detail">
                                <h3 class="activity__detail__ttl" data-aos="zoom-in">
                                    2020年
                                </h3>
                                <ul class="activity__detail__list">
                                    <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                        <a href="#popup2-1" class="js-popup-modal" data-modal="activity2">
                                            <div class="activity__detail__list__ttl">
                                                日本医師会との連携による医療資器材の国産化
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                日本医師会中川俊男会長を日本総合研究所寺島実郎会長と表敬しました。日本総合研究所と日本医師会との協力で、医療資器材（マスク、防…more
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_003.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                        <a href="#popup2-2" class="js-popup-modal" data-modal="activity2">
                                            <div class="activity__detail__list__ttl">
                                                鹿島医師会（松倉則夫会長）と水戸医師会（原毅会長）に医療用ガウンを調達。
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                耐久性、安全性にすぐれる不織布製。鹿嶋スタジウムのPCR検査でも活躍。
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_004.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                        <a href="#popup2-3" class="js-popup-modal" data-modal="activity2">
                                            <div class="activity__detail__list__ttl">
                                                「新型コロナウイルス自己診断マニュアル」（三井石根医師作成）を市民にお届け。
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                予防・自己防衛力アップを支援。市長、農協組合長の何人かは職員にも配布。
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_005.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                    <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                        <a href="#popup2-4" class="js-popup-modal" data-modal="activity2">
                                            <div class="activity__detail__list__ttl">
                                                「新型コロナ肺炎対策特集・号外」を配布、新聞折り込みも行う。
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                支援策の一覧表は便利で、銀行や税理士さんなども活用。
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_006.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                <!-- /.activity__detail__list --></ul>

                                <h3 class="activity__detail__ttl" data-aos="zoom-in">
                                    2019年
                                </h3>
                                <ul class="activity__detail__list">
                                    <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                        <a href="#popup2-5" class="js-popup-modal" data-modal="activity2">
                                            <div class="activity__detail__list__ttl">
                                                東関東自動車道水戸線の予算を決定
                                            </div>
                                            <div class="activity__detail__list__txt">
                                                東関東道水戸線の茨城空港～鉾田インターの開通式に出席しました。民主党政権下、大畠章宏国土交通大臣、石津政雄総務大臣政務官、私が…more
                                            </div>
                                            <div class="activity__detail__list__img">
                                                <img src="{{ root }}/images/activity_img_008.jpg" alt="">
                                            </div>
                                        </a>
                                    <!-- /.activity__detail__list__item --></li>
                                <!-- /.activity__detail__list --></ul>
                            <!-- /.activity__detail --></div>
                        </div>
                        <!-- ▲▲全国での実績ここまで▲▲ -->

                    <!-- /.tab --></div>


                    <div class="popups">
                        <div class="popup white-popup mfp-hide" id="popup1">
                            <div class="popup__ttl">
                                藤田幸久は、新型コロナウイルス対策で茨城２区の市長・町長の全員、医療・介護施設、農協、商工会等を訪問し、家計支援、事業継続支援を行いました。
                            </div>
                            <div class="popup__txt">
                                コロナや自然災害の時こそ「いのちを守る」ことが政治の役割です。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_001.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>
                        
                        <div class="popup white-popup mfp-hide" id="popup2">
                            <div class="popup__ttl">
                                「戦いの神」鹿島神宮で、コロナウイルスの鎮静を祈る
                            </div>
                            <div class="popup__txt">
                                私の闘いの原点は武甕槌大神（たけみかつちのおおかみ）という「戦いの神」が鎮座する鹿島神宮です。鹿島則良宮司様から大きなパワーを頂きました。<br>
                                鹿島の大神の東北平定を助けた兵士として常陸太田市金砂地区に伝わる大助人形（おおすけにんぎょう）。コロナウイルスの鎮静を祈念して鹿島神宮に送られました。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_002.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup3">
                            <div class="popup__ttl">
                                日本医師会との連携による医療資器材の国産化
                            </div>
                            <div class="popup__txt">
                                日本医師会中川俊男会長を日本総合研究所寺島実郎会長と表敬しました。日本総合研究所と日本医師会との協力で、医療資器材（マスク、防護服、検査機器）や医薬品の国産化を推進し、緊急備蓄などを増大させるための連携がスタートしました。<br>
                                中川会長からは、日本においては新型コロナウイルスなどの新興感染症に対応する法的枠組みや予算措置が不備である。政府には、特に有事における対応に関する方針を示し、システムを常設することを要望しているとのお話がありました。「低所得の人々の命を救うことが急務である」と強調され、医師としての強い使命と熱い意志を感じることができました。今村聡日本医師会副会長と、日本総合研究所松岡斉理事長も同席しました。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_003.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup4">
                            <div class="popup__ttl">
                                鹿島医師会（松倉則夫会長）と水戸医師会（原毅会長）に医療用ガウンを調達。
                            </div>
                            <div class="popup__txt">
                                耐久性、安全性にすぐれる不織布製。鹿嶋スタジウムのPCR検査でも活躍。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_004.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup5">
                            <div class="popup__ttl">
                                「新型コロナウイルス自己診断マニュアル」（三井石根医師作成）を市民にお届け。
                            </div>
                            <div class="popup__txt">
                                予防・自己防衛力アップを支援。市長、農協組合長の何人かは職員にも配布。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_005.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup6">
                            <div class="popup__ttl">
                                「新型コロナ肺炎対策特集・号外」を配布、新聞折り込みも行う。
                            </div>
                            <div class="popup__txt">
                                支援策の一覧表は便利で、銀行や税理士さんなども活用。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_006.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup7">
                            <div class="popup__ttl">
                                涸沼水鳥・湿地センターの建設を実現
                            </div>
                            <div class="popup__txt">
                                私は2018年に環境省に働きかけを行い、茨城町と鉾田市に「涸沼水鳥・湿地センター」が建設されることが2019年度予算で決定されました。ラムサール条約の湿地に登録されてから5年がたつ涸沼は自然の宝庫であり、世界的に評価の高い涸沼の価値を県の内外に伝える絶好の機会と思ったからです。こうしたカテゴリーでの予算化は今回が最後となる可能性があるとも言われ、NPOの皆さんからの情報も紹介しながら直接環境省幹部に要請行動を行いました。涸沼は、湖という名前でないために存在感が薄いという人もいますが、その価値と魅力をもっとアピールしたいと思います。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_007.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup8">
                            <div class="popup__ttl">
                                東関東自動車道水戸線の予算を決定
                            </div>
                            <div class="popup__txt">
                                東関東道水戸線の茨城空港～鉾田インターの開通式に出席しました。民主党政権下、大畠章宏国土交通大臣、石津政雄総務大臣政務官、私が財務副大臣の時に予備費を予算に計上してから工事が加速しました。当初の計画から大幅に遅れましたが、これで、茨城空港、茨城港、鹿嶋港との時間が短縮され農業、産業、観光にとって大きな支援となります。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_008.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>
                    </div>




                    <div class="popups">
                        <div class="popup white-popup mfp-hide" id="popup2-1">
                            <div class="popup__ttl">
                                日本医師会との連携による医療資器材の国産化
                            </div>
                            <div class="popup__txt">
                                日本医師会中川俊男会長を日本総合研究所寺島実郎会長と表敬しました。日本総合研究所と日本医師会との協力で、医療資器材（マスク、防護服、検査機器）や医薬品の国産化を推進し、緊急備蓄などを増大させるための連携がスタートしました。<br>
                                中川会長からは、日本においては新型コロナウイルスなどの新興感染症に対応する法的枠組みや予算措置が不備である。政府には、特に有事における対応に関する方針を示し、システムを常設することを要望しているとのお話がありました。「低所得の人々の命を救うことが急務である」と強調され、医師としての強い使命と熱い意志を感じることができました。今村聡日本医師会副会長と、日本総合研究所松岡斉理事長も同席しました。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_003.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup2-2">
                            <div class="popup__ttl">
                                鹿島医師会（松倉則夫会長）と水戸医師会（原毅会長）に医療用ガウンを調達。
                            </div>
                            <div class="popup__txt">
                                耐久性、安全性にすぐれる不織布製。鹿嶋スタジウムのPCR検査でも活躍。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_004.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup2-3">
                            <div class="popup__ttl">
                                「新型コロナウイルス自己診断マニュアル」（三井石根医師作成）を市民にお届け。
                            </div>
                            <div class="popup__txt">
                                予防・自己防衛力アップを支援。市長、農協組合長の何人かは職員にも配布。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_005.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup2-4">
                            <div class="popup__ttl">
                                「新型コロナ肺炎対策特集・号外」を配布、新聞折り込みも行う。
                            </div>
                            <div class="popup__txt">
                                支援策の一覧表は便利で、銀行や税理士さんなども活用。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_006.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>

                        <div class="popup white-popup mfp-hide" id="popup2-5">
                            <div class="popup__ttl">
                                東関東自動車道水戸線の予算を決定
                            </div>
                            <div class="popup__txt">
                                東関東道水戸線の茨城空港～鉾田インターの開通式に出席しました。民主党政権下、大畠章宏国土交通大臣、石津政雄総務大臣政務官、私が財務副大臣の時に予備費を予算に計上してから工事が加速しました。当初の計画から大幅に遅れましたが、これで、茨城空港、茨城港、鹿嶋港との時間が短縮され農業、産業、観光にとって大きな支援となります。
                            </div>
                            <div class="popup__img">
                                <img src="{{ root }}/images/activity_img_008.jpg" alt="">
                            </div>
                        <!-- /.popup --></div>
                    </div>

                <!-- /.container --></div>
            <!-- /.content__inner --></div>




{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
