{% extends "_layout/default.njk" %}


{% set hasColumn   = true %}
{% set root        = '.' %}
{% set title       = '藤田幸久とはル' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}



{% block content %}

            <div class="mv2">
                <div class="mv2__inner container">
                    <h1 class="mv2__ttl">
                        最近の活動を見る
                    </h1>
                </div>
            <!-- /.mv2 --></div>




            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="breadcrumbs">
                         <!-- Breadcrumb NavXT -->
                         <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="ホーム" href="{{ root }}/" class="home"><span property="name">ホーム</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="藤田幸久とは" href="{{ root }}/profile/" class="post post-page"><span property="name">藤田幸久とは</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">最近の活動を見る</span><meta property="position" content="3"></span>
                    </div>
                </div>
            <!-- /.breadcrumbs-wrap --></div>



            <div class="content__inner content__inner--type3">

                <div class="container">

                    <div class="main">
                        
                        <ul class="posts">
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt="小美玉市での街頭活動">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">小美玉市での街頭活動</p>
                                        <p class="post__txt">(16) 藤田 幸久 6日の朝の街頭活動は小美玉市部室の交差点。多くのボランティアの皆さんに応援頂きました。</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post">
                                <a href="#">
                                    <div class="post__img">
                                        <img src="https://y-fujita.com/wp-content/uploads/2020/10/120960550_2642553712619782_5513085773621987349_n.jpg" alt="『勝ち栗』を頂きました。">
                                    </div>
                                    <div class="post__detail">
                                        <p class="post__date">2020年10月06日</p>
                                        <p class="post__ttl">『勝ち栗』を頂きました。</p>
                                        <p class="post__txt">『勝ち栗』を頂きました。日本有数の栗の名所、笠間市友部の高校の先輩からです。必勝で頑張ります！</p>
                                    </div>
                                </a>
                            </li>
                        <!-- /.posts --></ul>


                        <div class="pager">
                            <div class="wp-pagenavi" role="navigation">
                            <a class="previouspostslink" rel="prev" href="https://y-fujita.com/blog-2/">前へ</a><a class="page smaller" title="Page 1" href="https://y-fujita.com/blog-2/">1</a><span aria-current="page" class="current">2</span><a class="page larger" title="Page 3" href="https://y-fujita.com/blog-2/page/3">3</a><a class="page larger" title="Page 4" href="https://y-fujita.com/blog-2/page/4">4</a><a class="page larger" title="Page 5" href="https://y-fujita.com/blog-2/page/5">5</a><span class="extend">...</span><a class="larger page" title="Page 10" href="https://y-fujita.com/blog-2/page/10">10</a><a class="larger page" title="Page 20" href="https://y-fujita.com/blog-2/page/20">20</a><a class="larger page" title="Page 30" href="https://y-fujita.com/blog-2/page/30">30</a><span class="extend">...</span><a class="nextpostslink" rel="next" href="https://y-fujita.com/blog-2/page/3">次へ</a>
                            </div>
                        <!-- /.pager --></div>


                    <!-- /.main --></div>


                    <div class="side js-sideFix">
                        <div class="side__inner">

                            <dl class="side__nav">
                                <dt>
                                    <a href="#">
                                        藤田幸久とは
                                    </a>
                                </dt>
                                <dd>
                                    <ul class="side__nav__list">
                                        <li>
                                            <a href="#">
                                                プロフィール
                                            </a>
                                            <ul class="side__subNav">
                                                <li>
                                                    <a href="#">
                                                        テキストテキストテキス
                                                    </a>
                                                    <ul class="side__subNav2">
                                                        <li>
                                                            <a href="#">
                                                                テキストテキストテキ
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                藤田幸久の軌跡
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                政策について
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                マンガ「ふじた幸久物語」
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            <!-- /.side__nav --></dl>

                            <div class="side__banner">
                                <ul class="side__banner__list">
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_001.jpg" alt="プロフィール">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_002.jpg" alt="藤田幸久の軌跡">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_003.jpg" alt="政策について">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item side__banner__list__item--type2">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_004.png" alt="マンガ「ふじた幸久物語」">
                                        </a>
                                    </li>
                                </ul>
                            <!-- /.side__banner --></div>
                            
                            <div class="side__search">
                                <dl class="side__search__item">
                                    <dt>
                                        アーカイブ
                                    </dt>
                                    <dd>
                                        <div class="side__search__select">
                                            <select>
                                                <option value="">月を選択</option>
                                            </select>
                                        </div>
                                    </dd>
                                </dl>
                                <form action="#">
                                    <dl class="side__search__item">
                                        <dt>
                                            サイト内検索
                                        </dt>
                                        <dd>
                                            <div class="side__search__text">
                                                <input type="text" class="side__search__form-txt">
                                                <input type="submit" value="検索" class="side__search__btn">
                                            </div>
                                        </dd>
                                    </dl>
                                </form>
                            <!-- /.side__search --></div>

                        <!-- /.side__inner --></div>
                    <!-- /.side --></div>

                <!-- /.container --></div>

            <!-- /.content__inner --></div>
            



{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
