{% extends "_layout/default.njk" %}


{% set hasColumn   = true %}
{% set root        = '.' %}
{% set title       = '藤田幸久の軌跡' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}



{% block content %}

            <div class="mv2">
                <div class="mv2__inner container">
                    <p class="mv2__ttl">
                        藤田幸久とは
                    </p>
                </div>
            <!-- /.mv2 --></div>




            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="breadcrumbs">
                         <!-- Breadcrumb NavXT -->
                         <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="ホーム" href="{{ root }}/" class="home"><span property="name">ホーム</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="藤田幸久とは" href="{{ root }}/profile/" class="post post-page"><span property="name">藤田幸久とは</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">藤田幸久の軌跡</span><meta property="position" content="3"></span>
                    </div>
                </div>
            <!-- /.breadcrumbs-wrap --></div>




            <div class="sec">
                <div class="sec__inner container">
                    <h1 class="ttl">
                        藤田幸久の軌跡
                    <!-- /.ttl --></h1>
                <!-- /.container --></div>
            <!-- /.sec --></div>


            <div class="content__inner content__inner--type2">

                <div class="container">

                    <div class="main">

                        <h2 class="ttl4" id="anchor1">1.誕生</h2>
                        <p class="history-lead">1950年　茨城県日立市に生まれる。</p>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_001.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                        父と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_002.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                        誕生直後、日立の社宅で<br>
                                        （後列左から）母彰子、幸久、父浩蔵、姉誠子<br>
                                        （前列左から）兄豊久、姉典子、兄昭男
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor2">2.双葉幼稚園時代</h2>
                        <p class="history-lead">1957年　日立市二葉幼稚園卒園</p>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_003.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       二葉幼稚園クリスマス会でイエス役
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor3">3.会瀬小学校時代</h2>
                        <p class="history-lead">1963年　日立市立会瀬小学校卒業</p>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_004.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                        会瀬小学校時代
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_005.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       下手なバイオリン弾き
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_006.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       修学旅行で皇居に<br>
                                       最後列中央、右端は沼田誉一先生
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor4">4.父、藤田浩蔵（こうぞう）</h2>
                        <p>1950年の日立大争議で、戦闘的な労働組合からの攻勢に対して駒井健一郎工場長（後の社長）を守って日立工場本館に立てこもり、地元の中小企業の支援も得て工場を守る。その後、営繕課長から施設部長を務める。</p>
                        <p>1951年　日立製作所の推薦で日立市議にトップ当選。以降３期務める。</p>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_007.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                        1951年　日立市議初挑戦でトップ当選
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_008.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       当選時の事務所内
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_009.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       選挙事務所前
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_010.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1956年　日立市庁舎　竣工式典
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_011.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1956年　日立市役所　完成<br>
                                       （前列左から２人目が藤田浩蔵）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor5">5.Song of Asia</h2>
                        <p>1975年～1977年　MRA（Moral Re-Armament 道徳再武装運動）の国際親善使節Song of Asiaでアジア・太洋州の青年約５０人で世界１５か国を訪問し、約１００の家族でホームステイ。</p>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_012.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       「ソング・オブ・アジア」のキャスト<br>
                                       後列右から３人目が藤田
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_013.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       アジアの歌声「ソング・オブ・アジア」の舞台にて
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_014.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1975年9月16日　パプアニューギニアの独立をパプアニューギニアの人 と祝う（デンマーク）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_015.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       「Song of Asia」では紋付き羽織袴も自分で着こなして舞台に立った
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_016.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1975年　イギリスでのクリスマス。日本人は全員和服で
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_017.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1975年　スイス・コーの国際会議場では出席者が料理・皿洗いなどを行う
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_018.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1975年　デンマーク訪問<br>
                                       ニュージーランドの先住民マオリ族のジミー・ウッドと
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_019.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1976年　強風のノルウェー沖で<br>
                                       左はベトナム難民のフォンさん
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_020.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1976年 「Song of Asia」の日中間の和解のシーンで日本人医師を演じる藤田
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_021.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                      1976年 「Song of Asia」でカナダ訪問
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_022.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       カルガリー空港でカナダ・インディアンの酋長達の出迎えを受ける
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_023.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1976年　カナダの国会議事堂前で踊る「Song of Asia」
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_024.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1976年　カナダ・インディアン居留地で山火事退治
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_025.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       カナダ・インディアンの酋長を東京に迎える<br>
                                       私の左は母彰子
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_026.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1977年　ニュージーランドの先住民マオリ族の女王の前で マオリ族の踊りを披露する「Song of Asia」
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_027.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       マオリ族の踊りを披露する「Song of Asia」（全景）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor6">6.MRA・難民を助ける会</h2>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_028.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       スイス・コーのＭＲＡ国際会議場
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>

                        <p>スイスのジュネーブから車で１時間半、眼下にレマン湖を望む山の中腹の村コー（Caux）に、MRA世界会議場「マウンテンハウス」があります。明治35年（1902年）に豪華なホテルとして建てられましたが、第二次大戦中は避難民の収容所として使われるなど荒れ果ててしまいました。<br>
                        戦後間もなく「戦禍をまぬがれたスイスは、分裂したヨーロッパと世界に融和をもたらす場を提供すべきである」と考えたスイスの百ほどの家族が協力してこのホテルを買い取り修復しました。終戦の翌年（1946年）には、敵対していたドイツとフランスから各界を代表する数千人の人々を迎え、戦後の独仏和解への第一歩が印されました。昭和25年（1950年）には広島、長崎両市長、東芝社長の石坂泰三氏他の経済人、労働組合代表、中曽根康弘氏などの国会議員からなる72名の日本人もコーに招かれました。孤立していた日本は、これを契機に国際社会に再び迎え入れられたのでした。<br>
                        毎夏、世界中から2,000人近くが出席し、様々なテーマの会議に参加します。コーでは参加者が料理、給仕、皿洗い、コーラスグループなどにも参加します。静かで美しい環境に囲まれて、参加者が力を合わせて働き心を開いて話し合う、この雰囲気の中からこそ対立するグループ同士でさえも、静かに自己を見つめ直し、相手の立場になって物事を考えることができます。</p>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_029.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1977年　ＭＲＡ国際会議で（スイス・コー）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_030.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1977年　ニュージーランドのマオリ族の友人と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_031.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1977年　ニュージーランド国会議事堂前でカナダのインディアン・ニュージーランドのマオリ族、パプアニューギニア、マレーシア、スウェーデンの友人達と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_032.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       母、藤田彰子も1979年から１年間オーストラリアでＭＲＡのボランティア活動に参加した
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_033.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       ＭＲＡのボランティア活動にて
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_034.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1980年代前半　カンボジア難民に援助物資を届ける
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_035.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1980年　カンボジア民主連合政府ソン・サン首相と土光敏夫国際ＭＲＡ日本協会会長（経団連会長）との通訳を務める
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_036.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1984年　オランダのフィリップス電器のフィリップス会長の通訳する<br>
                                       その左は土光敏夫経団連会長、ソン・サン カンボジア民主連合政府首相
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_037.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1984年　ラオス難民に援助物資を届ける
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_038.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1984年　アフリカのザンビアで歌手の森進一さんのチャリティー・コンサート「じゃがいもの会」の井戸掘プロジェクトを立ち上げる
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_039.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       現地での活動
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_040.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1984年　ザンビア内務省シムンバ難民局長に支援を要請
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_041.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1988年　初めて解放されたソ連のウラジオストックを訪問<br>
                                       （左から）ＴＢＳ河本記者（一人おいて）防衛省本部長、朝日新聞田岡記者
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_042.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1989年　カンボジア身障者難民に日本の身障者からの車いす200台を届ける
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_043.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1990年　ポーランドのウッジ市の市長宅にホームステイ
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_044.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       反体制派「連帯」の活動が活発で脱共産主義化の戦いが進んでいた
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_045.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1991年　1986年の人民革命の立役者フィリピンのシン枢機卿と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_046.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1991年　チベットのダライ・ラマ14世と単独会見（インド・ダラムサラ）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_047.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1992年　カンボジアのシアヌーク殿下に謁見
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_048.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1993年　キプロスの首都ニコシアは中心部を国連が壁を築き、ギリシア系とトルコ系住民が分断されている
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_049.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1993年　内戦の傷跡生々しいレバノン
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_050.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1993年　レバノン内戦のキリスト教徒とイスラム教徒の和解活動を行う
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_051.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1993年　自衛隊初の海外派遣となるカンボジアＰＫＯ部隊の到着を迎える
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_052.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1994年　スイス・コーで<br>
                                       （左から）山下俊彦松下電器相談役、藤田玲子、賀来龍三郎キヤノン会長、奈良久爾三菱総研会長、藤田幸久
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_053.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1994年　スイスのＭＲＡ会議でカンボジアのシリウッド元外相（右から２人目）と一緒に皿洗い
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_054.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1995年　タンザニアで難民を助ける会のルワンダ難民支援の井戸掘プロジェクト視察
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_055.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       井戸掘プロジェクトの現場
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_056.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1995年　タンザニア内務省事務次官マリキ氏と会談する
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_057.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1996年　シンポジウム「和解への課題」を主宰<br>
                                       (左から)コーネリオ・ソマルガ国際赤十字総裁、ダグ・ジョンストン戦略国際問題研究所（ＣＳＩＳ）副所長、藤田幸久、星野進保総合研究開発機構（ＮＩＲＡ）理事長（スイス・コー）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_058.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1990年　アフリカ国民会議（ＡＮＣ）のネルソン・マンデラ議長（後の南アフリカ大統領）と連合山岸議長との通訳を務める
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_059.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       カンボジアの解放闘争を戦うクメール人民民族解放戦線（ＫＰＮＬＦ）の兵士たちと
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_060.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       カンボジア難民キャンプで仏僧と共に教育支援活動を行う
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_061.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       難民を助ける会相馬雪香会長（左から３人目）、ソン・サン カンボジア首相夫妻（中央）と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor7">7.衆議院議員当選（東京選挙区）</h2>
                        <p class="history-lead">衆議院初当選</p>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_062.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1996年　ワゴン車を自ら運転し国会に初登庁
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_063.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       国会議事堂前を走るワゴン車
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_064.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1996年　中国残留孤児養父母（左から３人目）を慰問に訪れる<br>
                                       民主党結党後初の海外訪問団<br>
                                       （前列左から）鳩山夫人、海江田万里、大畠章宏（後列左から）鳩山由紀夫、岡崎トミ子、山花貞夫、藤田、生方行夫（中国・大蓮）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_065.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1997年　インド・ナラヤン大統領夫妻（中央）と<br>
                                       （右から）藤田、鳩山由紀夫、ラジモハン・ガンジー元上院議員（マハトマ・ガンジーの孫）（インド・デリー）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_066.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1997年　ノーベル平和賞受賞の「地雷禁止国際キャンペーン」のチャナリットさんと小渕恵三外相に申し入れ<br>
                                       私の右が中谷元防衛大臣、左が小坂憲次元文部科学大臣
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_067.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1997年　森進一さん（左）、国連アナン事務総長（右）と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_068.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       1999年　藤田幸久後援会主催のコンサート（王子の北とぴあ）で、森進一さんと
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_069.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2000年　国会議員サッカーチームで西ヶ丘サッカー場にて<br>
                                       しかし、2010年にアフリカの大使館チームとの試合中にアキレス腱を切断しました
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_070.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2002年　アフガニスタンのカルザイ大統領と<br>
                                       カルザイ大統領に頂いたカーペットが藤田の国会事務所にあります
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_071.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2003年 「アフリカに毛布を送る運動」に感謝を述べる駐日モザンビーク大使（左）と黒河内康元駐ナイジェリア大使（右）（東京・飛鳥山にて）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_072.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2004年4月　イラクでの日本人人質事件の救出支援活動でヨルダン訪問<br>
                                       キーラーニ元宗教大臣の支援を頂く
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_073.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2004年4月 イラクでの日本人人質事件の救出支援活動でヨルダンのズフディ・アブサドラザット・アルハッサン内務大臣の支援を頂く
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_074.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2004年4月　ヨルダンより帰国した翌日、フジテレビ「報道2001」に緊急出演<br>
                                       竹村健一氏に救出活動を語る<br>
                                       左端は大野元裕現参議院議員、右端は黒岩祐治キャスター（現神奈川県知事）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_075.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2004年7月　日本人人質解放の立役者、イラクのイスラム聖職者協会のアル・クベイシ師と（国会内で）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_076.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2004年　アメリカ連邦準備制度理事会（ＦＲＢ）グリーンスパン議長（中央）と<br>
                                       （左から）長島昭久、藤田、岡田克也、大塚耕平各議員
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_077.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2004年　北京の第３回アジア政党国際会議でカンボジアのラナリット殿下（左）、フン・セン首相（右）と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_078.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2005年　インドネシアのユドヨノ大統領とスマトラ沖津波支援を協議<br>
                                       私の右が岡田克也代表
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor8">参議院議員当選（茨城選挙区）</h2>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_079.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2007年　時代劇『高杉晋作』で、５人の国会議員と熱演（藤田は坂本龍馬役）<br>
                                       右に大村秀章愛知県知事、河村たかし名古屋市長、原口一博議員
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_080.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2008年　参議院調査団でフィジーとツバル訪問<br>
                                       ツバルの海面上昇という事実は正確でないことを発見した
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_081.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2008年　ツバルのアピサイ・イエレミア首相と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_082.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2008年　フィジーのライセニア・ガラセ前首相と
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_083.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2009年　参議院拉致問題特別委員長として拉致被害者曽我ひとみさんを激励に（佐渡島）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_084.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2009年　常磐大学シンポジウム「被害者学と人間の安全」レセプション
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_085.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       レセプションに出席されたタイのバチャラキティヤパー王女
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_086.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2009年　中国胡錦濤国家主席と（人民大会堂で）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_087.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2010年　『太田光の私が総理大臣になったら…秘書田中。』に出演
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_088.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2010年　ハイチ大地震支援団団長としてハイチを訪問（ハイチ議会）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_089.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       プレヴァル大統領
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_090.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2010年　ウラジオストック国際会議
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_091.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       ひたちなか市の人々が建てたウラジオストックの日本人墓地を訪問<br>
                                       サッカーでアキレス腱を切った後の松葉杖で
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_092.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2010年1　中国漁船衝突事件後の尖閣諸島視察<br>
                                       私の右に原口一博、河合克行、柿沢未途議員
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>


                        <h2 class="ttl4" id="anchor9">参議院議員当選（茨城選挙区）</h2>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_093.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2011年　津波で大きな被害を受けた北茨城市大津漁港を視察
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_094.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       細川厚生労働大臣と鹿野農林水産大臣に対する茨城県橋本昌知事の要望活動の会談をセットし、同行しました
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_095.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       人の背丈ほどの段差が生じた鹿嶋市の港公園
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_096.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       民主党の岡田克也幹事長を初めとする民主党の調査団が茨城県の大震災の被害状況の視察と関係者の要望聞き取りのために来県
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_097.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       参議院財政金融委員長として茨城県の被災企業金融支援緊急対策会議で挨拶
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_098.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2011年　アメリカ連邦準備制度理事会（FRB）バーナンキ議長を訪問
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>

                        <h2 class="ttl4" id="anchor10">財務副大臣として</h2>

                        <div class="histories">
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_099.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2011年　国家公務員宿舎の大幅削減計画を発表
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_100.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2012年　子ども霞が関デーで財務副大臣室で子供たちと
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_101.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2012年　つくば竜巻被害予算を決定<br>
                                       左が市原つくば市長
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_102.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2012年　横綱白鵬と震災復興の個人向け国債をＰＲ（財務大臣室で）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_103.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2013年　フィンランドのオンカロを視察<br>
                                       世界唯一の核廃棄物最終処分施設（地下420m）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_104.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2014年　ベトナムのチュオン・タン・サン国家主席を迎える（水戸市で）
                                    </p>
                                </div>
                            <!-- /.history --></div>
                            <div class="history">
                                <div class="history__inner">
                                    <div class="history__img">
                                        <img src="{{ root }}/images/history_img_105.jpg" alt="">
                                    </div>
                                    <p class="history__txt">
                                       2014年6月　災害支援や国連平和維持活動(PKO)などで活躍しているひたちなか市の勝田自衛隊施設学校を視察
                                    </p>
                                </div>
                            <!-- /.history --></div>
                        <!-- /.histories --></div>

                    <!-- /.main --></div>


                    <div class="side js-sideFix">
                        <div class="side__inner">

                            <dl class="side__nav">
                                <dt>
                                    <a href="#">
                                        藤田幸久とは
                                    </a>
                                </dt>
                                <dd>
                                    <ul class="side__nav__list">
                                        <li>
                                            <a href="#">
                                                プロフィール
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ root }}/history/">
                                                藤田幸久の軌跡
                                            </a>
                                            <ul class="side__subNav">
                                                <li>
                                                    <a href="#anchor1" class="js-scrollAnchor">
                                                        1.誕生
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor2" class="js-scrollAnchor">
                                                        2.双葉幼稚園時代
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor3" class="js-scrollAnchor">
                                                        3.会瀬小学校時代
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor4" class="js-scrollAnchor">
                                                        4.父、藤田浩蔵（こうぞう）
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor5" class="js-scrollAnchor">
                                                        5.Song of Asia
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor6" class="js-scrollAnchor">
                                                        6.MRA・難民を助ける会
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor7" class="js-scrollAnchor">
                                                       7.衆議院議員当選（東京選挙区）
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor8" class="js-scrollAnchor">
                                                       参議院議員当選（茨城選挙区）
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#anchor10" class="js-scrollAnchor">
                                                        財務副大臣として
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                政策について
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                マンガ「ふじた幸久物語」
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            <!-- /.side__nav --></dl>

                        <!-- /.side__inner --></div>
                    <!-- /.side --></div>

                <!-- /.container --></div>

            <!-- /.content__inner --></div>




            <div class="sec activity2">
                <div class="sec__inner container">
                    
                    <h2 class="activity2__ttl">活動実績</h2>
                    <p class="activity2__btn">
                        <a href="{{ root }}/activity/" class="btn btn--white">
                            もっと見る
                        </a>
                    </p>

                <!-- /.container --></div>
            <!-- /.sec --></div>




{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
