{% extends "_layout/default.njk" %}


{% set hasColumn   = true %}
{% set root        = '.' %}
{% set title       = 'ページタイトル' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}



{% block content %}

            <div class="mv">
                <div class="mv__inner container">
                    <div class="mv__box">
                        <div class="mv__content">
                            <p class="mv__txt">
                                鹿行・県央再生<br>役に立つ政治家
                            </p>
                            <p class="mv__txt2">立憲民主党茨城県第2区総支部長<br>（前参議院議員・元財務副大臣）</p>
                            <p class="mv__name">ふじた幸久</p>
                            <p class="mv__name2">ふじた・ゆきひさ</p>
                            <div class="mv__img">
                                <img src="{{ root }}/images/mv_img_001.png" alt="" class="mv__img__pc">
                                <img src="{{ root }}/images/mv_img_001_sp.png" alt="" class="mv__img__sp">
                            </div>
                        </div>
                    </div>
                    <p class="mv__box2">
                        <span>コロナに負けずに<br>「元気な茨城、スマイル茨城」<br>をつくります</span>
                    </p>
                </div>
                <div class="mv__copyright">
                    <p class="mv__copyright__item is-show js-copyright">
                    </p>
                    <p class="mv__copyright__item js-copyright">
                        <span>© Kamisu City</span>
                    </p>
                    <p class="mv__copyright__item js-copyright">
                        <span>© Ibaraki-Prefectural Tourism &amp; Local Products Association</span>
                    </p>
                </div>
                <div class="mv__bg js-mv">
                    <div class="mv__bg__item">
                        <div class="mv__bg__bg mv__bg__bg--type1"></div>
                                            
                    </div>
                    <div class="mv__bg__item">
                        <div class="mv__bg__bg mv__bg__bg--type2"></div>
                    </div>
                    <div class="mv__bg__item">
                        <div class="mv__bg__bg mv__bg__bg--type3"></div>
                    </div>
                </div>
            <!-- /.mv --></div>




            <div class="sec profile" data-aos="fade-up">
                <div class="sec__inner container">
                    <h2 class="ttl">
                        プロフィール
                    <!-- /.ttl --></h2>

                    <div class="profile__row">
                        <div class="profile__col" data-aos="fade-up" data-aos-delay="300">
                            <img src="{{ root }}/images/profile_img_001.jpg" alt="">
                        </div>
                        <div class="profile__col2" data-aos="fade-up" data-aos-delay="600">
                            <p class="profile__name">藤田 幸久</p>
                            <p class="profile__name2">ふじた・ゆきひさ</p>
                            <p class="profile__txt">1950年	茨城県日立市に生まれる。茨城大学付属中学校卒業、中学時代はサッカー部で茨城県大会で準優勝。茨城県立水戸第一高校卒業、慶応義塾大学文学部哲学科卒業。</p>
                            <p class="profile__txt">スマイル茨城！　茨城に笑顔と力を！</p>
                            <p class="profile__txt">コロナウイルスと、休業と生活苦から命と生活を守る。</p>
                            <p class="profile__txt">初の国際NGO出身の国会議員。世界52か国を訪問。各国で難民支援や地震・津波救援活動などを行う。<br>
                            「茨城に笑顔と力を！」をモットーに、財務副大臣として東日本大震災後の市町村庁舎再建、中小企業グループ補助金、圏央道や東関東道水戸線、鹿行大橋、鹿島港の重要港湾指定などの復興予算を決定しました。</p>
                            <p class="profile__btn btn-wrap">
                                <a href="#" class="btn">
                                    もっと見る
                                </a>
                            </p>
                        </div>
                    </div>
                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="sec smile" data-aos="fade-up">
                <div class="sec__inner container">
                    <p class="smile__lead">
                        全ての人に、<br>スマイルを。
                    </p>

                    <div class="smile__row">
                        <div class="smile__col">
                            <img src="{{ root }}/images/smile_img_001.png" alt="" data-aos="smile" data-aos-delay="800">
                        </div>
                        <div class="smile__col2">
                            <p class="smile__txt">
                                泣いている地球の人々を、<br>
                                笑顔にする政治を目指しています。
                            </p>
                            <ul class="smile__btn btn-wrap btn-wrap--left">
                                <li>
                                    <a href="#" class="btn">
                                        藤田幸久とは
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn">
                                        ニコニコマークの由来
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="sec activity">
                <div class="sec__inner container activity__inner">
                    <h2 class="ttl">
                        活動実績
                    <!-- /.ttl --></h2>

                    <p class="activity__lead">
                        説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文<br>
                        説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
                    <!-- /.activity__lead --></p>

                    <div class="activity__detail" data-aos="activity-detail">
                        <h3 class="activity__detail__ttl" data-aos="zoom-in">
                            2020年
                        </h3>
                        <ul class="activity__detail__list">
                            <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                <a href="#popup1" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        藤田幸久は、新型コロナウイルス対策で茨城２区の市長・町長の全員、医療・介護施設、農協、商工会等を訪問し、家計支援、事業継続支援を行いました。
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        コロナや自然災害の時こそ「いのちを守る」ことが政治の役割です。
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_001.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                            <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                <a href="#popup2" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        「戦いの神」鹿島神宮で、コロナウイルスの鎮静を祈る
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        私の闘いの原点は武甕槌大神（たけみかつちのおおかみ）という「戦いの神」が鎮座する鹿島神宮です。鹿島則良宮司様から大きなパワーを…more
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_002.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                            <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                <a href="#popup3" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        日本医師会との連携による医療資器材の国産化
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        日本医師会中川俊男会長を日本総合研究所寺島実郎会長と表敬しました。日本総合研究所と日本医師会との協力で、医療資器材（マスク、防…more
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_003.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                            <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                <a href="#popup4" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        鹿島医師会（松倉則夫会長）と水戸医師会（原毅会長）に医療用ガウンを調達。
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        耐久性、安全性にすぐれる不織布製。鹿嶋スタジウムのPCR検査でも活躍。
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_004.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                            <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                <a href="#popup5" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        「新型コロナウイルス自己診断マニュアル」（三井石根医師作成）を市民にお届け。
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        予防・自己防衛力アップを支援。市長、農協組合長の何人かは職員にも配布。
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_005.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                            <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                <a href="#popup6" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        「新型コロナ肺炎対策特集・号外」を配布、新聞折り込みも行う。
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        支援策の一覧表は便利で、銀行や税理士さんなども活用。
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_006.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                        <!-- /.activity__detail__list --></ul>

                        <h3 class="activity__detail__ttl" data-aos="zoom-in">
                            2019年
                        </h3>
                        <ul class="activity__detail__list">
                            <li class="activity__detail__list__item activity__detail__list__item--right" data-aos="fade-up">
                                <a href="#popup7" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        涸沼水鳥・湿地センターの建設を実現
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        私は2018年に環境省に働きかけを行い、茨城町と鉾田市に「涸沼水鳥・湿地センター」が建設されることが2019年度予算で決定されました。…more
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_007.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                            <li class="activity__detail__list__item activity__detail__list__item--left" data-aos="fade-up">
                                <a href="#popup8" class="js-popup-modal" data-modal="activity">
                                    <div class="activity__detail__list__ttl">
                                        東関東自動車道水戸線の予算を決定
                                    </div>
                                    <div class="activity__detail__list__txt">
                                        東関東道水戸線の茨城空港～鉾田インターの開通式に出席しました。民主党政権下、大畠章宏国土交通大臣、石津政雄総務大臣政務官、私が…more
                                    </div>
                                    <div class="activity__detail__list__img">
                                        <img src="{{ root }}/images/activity_img_008.jpg" alt="">
                                    </div>
                                </a>
                            <!-- /.activity__detail__list__item --></li>
                        <!-- /.activity__detail__list --></ul>
                    <!-- /.activity__detail --></div>

                    
                    <p class="activity__btn">
                        <a href="{{ root }}/activity/" class="btn btn--white">
                            もっと見る
                        </a>
                    </p>                    

                    <div class="popup white-popup mfp-hide" id="popup1">
                        <div class="popup__ttl">
                            藤田幸久は、新型コロナウイルス対策で茨城２区の市長・町長の全員、医療・介護施設、農協、商工会等を訪問し、家計支援、事業継続支援を行いました。
                        </div>
                        <div class="popup__txt">
                            コロナや自然災害の時こそ「いのちを守る」ことが政治の役割です。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_001.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>
                    
                    <div class="popup white-popup mfp-hide" id="popup2">
                        <div class="popup__ttl">
                            「戦いの神」鹿島神宮で、コロナウイルスの鎮静を祈る
                        </div>
                        <div class="popup__txt">
                            私の闘いの原点は武甕槌大神（たけみかつちのおおかみ）という「戦いの神」が鎮座する鹿島神宮です。鹿島則良宮司様から大きなパワーを頂きました。<br>
                            鹿島の大神の東北平定を助けた兵士として常陸太田市金砂地区に伝わる大助人形（おおすけにんぎょう）。コロナウイルスの鎮静を祈念して鹿島神宮に送られました。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_002.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>

                    <div class="popup white-popup mfp-hide" id="popup3">
                        <div class="popup__ttl">
                            日本医師会との連携による医療資器材の国産化
                        </div>
                        <div class="popup__txt">
                            日本医師会中川俊男会長を日本総合研究所寺島実郎会長と表敬しました。日本総合研究所と日本医師会との協力で、医療資器材（マスク、防護服、検査機器）や医薬品の国産化を推進し、緊急備蓄などを増大させるための連携がスタートしました。<br>
                            中川会長からは、日本においては新型コロナウイルスなどの新興感染症に対応する法的枠組みや予算措置が不備である。政府には、特に有事における対応に関する方針を示し、システムを常設することを要望しているとのお話がありました。「低所得の人々の命を救うことが急務である」と強調され、医師としての強い使命と熱い意志を感じることができました。今村聡日本医師会副会長と、日本総合研究所松岡斉理事長も同席しました。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_003.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>

                    <div class="popup white-popup mfp-hide" id="popup4">
                        <div class="popup__ttl">
                            鹿島医師会（松倉則夫会長）と水戸医師会（原毅会長）に医療用ガウンを調達。
                        </div>
                        <div class="popup__txt">
                            耐久性、安全性にすぐれる不織布製。鹿嶋スタジウムのPCR検査でも活躍。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_004.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>

                    <div class="popup white-popup mfp-hide" id="popup5">
                        <div class="popup__ttl">
                            「新型コロナウイルス自己診断マニュアル」（三井石根医師作成）を市民にお届け。
                        </div>
                        <div class="popup__txt">
                            予防・自己防衛力アップを支援。市長、農協組合長の何人かは職員にも配布。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_005.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>

                    <div class="popup white-popup mfp-hide" id="popup6">
                        <div class="popup__ttl">
                            「新型コロナ肺炎対策特集・号外」を配布、新聞折り込みも行う。
                        </div>
                        <div class="popup__txt">
                            支援策の一覧表は便利で、銀行や税理士さんなども活用。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_006.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>

                    <div class="popup white-popup mfp-hide" id="popup7">
                        <div class="popup__ttl">
                            涸沼水鳥・湿地センターの建設を実現
                        </div>
                        <div class="popup__txt">
                            私は2018年に環境省に働きかけを行い、茨城町と鉾田市に「涸沼水鳥・湿地センター」が建設されることが2019年度予算で決定されました。ラムサール条約の湿地に登録されてから5年がたつ涸沼は自然の宝庫であり、世界的に評価の高い涸沼の価値を県の内外に伝える絶好の機会と思ったからです。こうしたカテゴリーでの予算化は今回が最後となる可能性があるとも言われ、NPOの皆さんからの情報も紹介しながら直接環境省幹部に要請行動を行いました。涸沼は、湖という名前でないために存在感が薄いという人もいますが、その価値と魅力をもっとアピールしたいと思います。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_007.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>

                    <div class="popup white-popup mfp-hide" id="popup8">
                        <div class="popup__ttl">
                            東関東自動車道水戸線の予算を決定
                        </div>
                        <div class="popup__txt">
                            東関東道水戸線の茨城空港～鉾田インターの開通式に出席しました。民主党政権下、大畠章宏国土交通大臣、石津政雄総務大臣政務官、私が財務副大臣の時に予備費を予算に計上してから工事が加速しました。当初の計画から大幅に遅れましたが、これで、茨城空港、茨城港、鹿嶋港との時間が短縮され農業、産業、観光にとって大きな支援となります。
                        </div>
                        <div class="popup__img">
                            <img src="{{ root }}/images/activity_img_008.jpg" alt="">
                        </div>
                    <!-- /.popup --></div>

                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="sec policy" data-aos="fade-up">
                <div class="sec__inner container">
                    <h2 class="ttl">
                        政策について
                    <!-- /.ttl --></h2>

                    <div class="policy__row">
                        <div class="policy__col policy__col--movie" data-aos="fade-up">
                            <div class="policy__col__inner">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/eXu9hXOUDAU?rel=0" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="policy__col2" data-aos="fade-up" data-aos-delay="300">
                            <h3 class="ttl2">わたしは本気―「政治と水の浄化」</h3>
                            <div class="policy__body">
                                <p class="policy__txt">
                                    河井克行前法務大臣夫妻の逮捕、黒川弘務前検事長の定年延長、財務省職員を自殺に追い込んだ森友問題など、政治の汚染は日本の自由と民主主義を否定しています。これらにフタをしたのが菅義偉新総理です。表紙は入れ替えても、中身は同じ政権です。<strong>政治の浄化</strong>と霞ヶ浦、北浦、涸沼の<strong>水の浄化</strong>による観光支援とを進めます！<strong>そして、真に「自由で民主的な」社会を作ります。</strong>
                                </p>
                            </div>
                        </div>
                    <!-- /.policy__row --></div>

                    <div class="policy__row" data-aos="fade-up">
                        <div class="policy__col2">
                            <h3 class="ttl2">鹿行・県央のチャンス</h3>
                            <div class="policy__body">
                                <p class="policy__txt">
                                    <strong>コロナウィルスは、日本のさまざまな根本問題をあぶり出してくれました。</strong>食料やマスクや医療ガウンなどの自給率が低く、外国に依存し過ぎていること。東京だけに人もお金も感染リスクまでも集中しすぎる一方で、地方が空洞化していること。コメの種子、森林、大手企業の株などが外国に「日本売り」される一方で、庶民は貧しさを増し、格差が拡大の一方です。ここれらの問題が鹿行地域と県央地域を特に圧迫してきました。したがって、これらを抜本的に変えることによって、鹿行地域と県央地域を再生する絶好のチャンスとなります。そこで、私は、地域の皆様のご意見をいただきながら、以下の政策を進めて行きたいと思います。是非、皆さんのアイデアとお知恵をお貸しください。
                                </p>
                                <ul class="policy__list">
                                    <li>コロナを機に食料の自給率向上と医療過疎からの脱却</li>
                                    <li>地域の連携と共通戦略を</li>
                                </ul>
                            </div>
                        </div>
                    <!-- /.policy__row --></div>

                    <div class="policy__row" data-aos="fade-up">
                        <div class="policy__col">
                            <a href="#map" class="js-popup-modal" data-modal="map">
                                <img src="{{ root }}/images/policy_img_001.png" alt="">
                            </a>
                            <img src="{{ root }}/images/policy_img_002.jpg" alt="">
                        </div>
                        <div class="policy__col2">
                            <h3 class="ttl3">命を生活を守る「農工両全」</h3>
                            <div class="policy__body">
                                <p class="policy__txt">
                                    産業技術による食の再生とブランド化。医療資器材（マスク、防護服、検査機器）・医薬品の国産化と緊急備蓄の増大のために「医療・防災」産業の創生を支援。岩上二郎知事の「農工両全」を、命と生活を守る「農工両全」に進化。
                                </p>
                            </div>
                            <h3 class="ttl3">医療・介護支援による地域再生</h3>
                            <div class="policy__body">
                                <p class="policy__txt">
                                    「仕事さえあれば茨城に戻りたい」という東京在住の茨城県民が増えています。コロナと闘う医療・介護関係者の待遇改善による雇用創出と出生率向上。定住支援助成金や新規就農支援による人口増政策。
                                </p>
                            </div>
                            <h3 class="ttl3">霞ヶ浦、北浦、涸沼、鹿島灘の「水」と歴史と食のツーリズム</h3>
                            <div class="policy__body">
                                <p class="policy__txt">
                                    鹿島神宮、水郷、茨城空港、大洗水族館、笠間の陶芸村、鹿島灘の海洋スポーツ、神栖の産業ツーリズム、なめがたファーマーズビレッジ、大場家屋敷、などの陸海空をつなぐ歴史と食のツーリズムの推進。地域全体の魅力度アップと観光戦略策定。
                                </p>
                            </div>
                        </div>
                    <!-- /.policy__row --></div>

                    <div class="popup white-popup mfp-hide" id="map">
                        <div class="popup__img popup__img--type2">
                            <img src="{{ root }}/images/policy_img_001.png" alt="">
                        </div>
                    <!-- /.popup --></div>

                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="banner" data-aos="fade-up">
                <div class="banner__inner container">
                    <ul class="banner__list">
                        <li data-aos="fade-right" data-aos-delay="300">
                            <a href="{{ root }}/manga/">
                                <img src="{{ root }}/images/banner_001.png" alt="マンガ「ふじた幸久物語」">
                            </a>
                        </li>
                        <li data-aos="fade-left" data-aos-delay="600">
                            <a href="{{ root }}/history/">
                                <img src="{{ root }}/images/banner_002.png" alt="藤田幸久の軌跡">
                            </a>
                        </li>
                    </ul>
                <!-- /.container --></div>
            <!-- /.banner --></div>




            <div class="sec connect" data-aos="fade-up">
                <div class="sec__inner connect__inner container">
                    <h2 class="ttl">
                        つながる
                    <!-- /.ttl --></h2>

                    <ul class="connect__sns">
                        <li class="connect__sns__youtube" data-aos="fade-up" data-aos-delay="300">
                            <a href="#">
                                <img src="{{ root }}/images/logo_youtube_002.png" alt="Youtube">
                            </a>
                        </li>
                        <li class="connect__sns__facebook" data-aos="fade-up" data-aos-delay="450">
                            <a href="#">
                                <img src="{{ root }}/images/logo_facebook_002.png" alt="Facebook">
                            </a>
                        </li>
                        <li class="connect__sns__twitter" data-aos="fade-up" data-aos-delay="600">
                            <a href="#">
                                <img src="{{ root }}/images/logo_twitter_002.png" alt="Twitter">
                            </a>
                        </li>
                    <!-- /.connect__sns --></ul>

                    <ul class="connect__btns">
                        <li data-aos="fade-right" data-aos-delay="300">
                            <a href="#" class="btn btn--pcWhite">
                                もっと見る
                            </a>
                        </li>
                        <li data-aos="fade-left" data-aos-delay="600">
                            <a href="#" class="btn btn--pcWhite">
                                メッセージを送る
                            </a>
                        </li>
                    <!-- /.connect__sns --></ul>

                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="sec support" data-aos="fade-up">
                <div class="sec__inner container">
                    <h2 class="ttl">
                        活動を支援する
                    <!-- /.ttl --></h2>

                    <ul class="support__list">
                        <li data-aos="fade-up" data-aos-delay="300">
                            <a href="#">
                                <dl>
                                    <dt>
                                        <span>後援会に入会する</span>
                                    </dt>
                                    <dd>
                                        皆さまのご入会を<br class="support__list__pcHide">心よりお待ち申し上げております。
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="450">
                            <a href="#">
                                <dl>
                                    <dt>
                                        <span>ポスターを掲示する</span>
                                    </dt>
                                    <dd>
                                        茨城県選挙区から茨城第2区選挙区に移ったため、<br>知名度アップが最も重要です。<br class="support__list__pcHide">ポスターの掲示にご協力下さい。
                                    </dd>
                                </dl>
                            </a>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="600">
                            <a href="#">
                                <dl>
                                    <dt>
                                        <span>ボランティア・<br>インターン募集</span>
                                    </dt>
                                    <dd>
                                        藤田幸久の政治活動は、<br class="support__list__pcHide">共感していただけるボランティアの<br class="support__list__spHide">皆さんによって<br class="support__list__pcHide">支えられています。
                                    </dd>
                                </dl>
                            </a>
                        </li>
                    <!-- /.support__list --></ul>
                <!-- /.container --></div>
            <!-- /.sec --></div>



{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
