{% extends "_layout/default.njk" %}


{% set hasColumn   = true %}
{% set root        = '.' %}
{% set title       = '藤田幸久とはル' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}



{% block content %}

            <div class="mv2">
                <div class="mv2__inner container">
                    <p class="mv2__ttl">
                        藤田幸久とは
                    </p>
                </div>
            <!-- /.mv2 --></div>




            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="breadcrumbs">
                         <!-- Breadcrumb NavXT -->
                         <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="ホーム" href="{{ root }}/" class="home"><span property="name">ホーム</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="藤田幸久とは" href="{{ root }}/profile/" class="post post-page"><span property="name">藤田幸久とは</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">マンガ「ふじた幸久物語」</span><meta property="position" content="3"></span>
                    </div>
                </div>
            <!-- /.breadcrumbs-wrap --></div>




            <div class="sec">
                <div class="sec__inner container">

                    <h1 class="ttl">
                        マンガ「ふじた幸久物語」
                    <!-- /.ttl --></h1>


                    <div class="comic js-slide">
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_001.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_002.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_003.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_004.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_005.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_006.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_007.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_008.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_009.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_010.jpg" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_011.gif" alt="">
                        </div>
                        <div class="comic__item">
                            <img src="{{ root }}/images/manga_img_012.gif" alt="">
                        </div>
                    <!-- /.comic --></div>


                    <div class="article">

                        <h2>見出し2 h2</h2>

                        <h3>見出し3 h3</h3>
                        <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                        <h4>見出し4 h4</h4>
                        <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                        <h5>見出し5 h5</h5>
                        <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                        <h6>見出し6 h6</h6>
                        <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                        <ul>
                            <li>リストリストリスト</li>
                            <li>リスト</li>
                        </ul>

                        <ol>
                            <li>番号リスト</li>
                            <li>番号リスト</li>
                        </ol>

                        <blockquote><p>blockquote:引用引用引用</p></blockquote>

                        <hr>

                        <pre>pre:文章文章文章文章文章文章文章文章文章文章文章</pre>

                        <p>▼ .alignleft</p>
                        <img src="https://placehold.jp/380x240.png" alt="" class="alignleft">
                        <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                        <p style="clear:both">▼ .alignright</p>
                        <img src="https://placehold.jp/380x240.png" alt="" class="alignright">
                        <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                        <p style="clear:both">▼ .aligncenter</p>
                        <img src="https://placehold.jp/380x240.png" alt="" class="aligncenter">
                        <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>


                        <p style="clear:both">▼ .wp-block-embed-youtube</p>
                        <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
                        <iframe title="【改訂版】茨城県PR映像「Outlook IBARAKI」 日本語版" width="500" height="281" src="https://www.youtube.com/embed/eXu9hXOUDAU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div><figcaption>動画キャプション動画キャプション</figcaption></figure>

                        <p style="clear:both">▼ .wp-block-image</p>
                        <figure class="wp-block-image"><img src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt="" class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" data-lazy-loaded="true" style="display: block;"><noscript><img src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt="" class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" /></noscript>
                        <figcaption>画像キャプション画像キャプション</figcaption>
                        </figure>

                        <hr>

                        <h2>
                            <span>2020年10月06日</span>
                            小美玉市での街頭活動
                        </h2>
                        <div class="textWrap">

                            <p>
                            (16) 藤田 幸久
                            </p>

                            <p>6日の朝の街頭活動は小美玉市部室の交差点。多くのボランティアの皆さんに応援頂きました。</p>

                            <figure class="wp-block-image">
                                <img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                                <noscript>
                                    <img src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt="" class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"/>
                                </noscript>
                            </figure>

                            <figure class="wp-block-image">
                                <img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg" alt class="wp-image-32120" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                                <noscript>
                                    <img src="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg" alt="" class="wp-image-32120" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"/>
                                </noscript>
                            </figure>
                        </div>

                    <!-- /.article --></div>

                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="sec activity2">
                <div class="sec__inner container">
                    
                    <h2 class="activity2__ttl">活動実績</h2>
                    <p class="activity2__btn">
                        <a href="{{ root }}/activity/" class="btn btn--white">
                            もっと見る
                        </a>
                    </p>

                <!-- /.container --></div>
            <!-- /.sec --></div>




{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
