{% extends "_layout/default.njk" %}


{% set hasColumn   = true %}
{% set root        = '.' %}
{% set title       = '藤田幸久とはル' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}



{% block content %}

            <div class="mv2">
                <div class="mv2__inner container">
                    <p class="mv2__ttl">
                        藤田幸久とは
                    </p>
                </div>
            <!-- /.mv2 --></div>




            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="breadcrumbs">
                         <!-- Breadcrumb NavXT -->
                         <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="ホーム" href="{{ root }}/" class="home"><span property="name">ホーム</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="藤田幸久とは" href="{{ root }}/profile/" class="post post-page"><span property="name">藤田幸久とは</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">プロフィール</span><meta property="position" content="3"></span>
                    </div>
                </div>
            <!-- /.breadcrumbs-wrap --></div>




            <div class="sec">
                <div class="sec__inner container">
                    <h1 class="ttl">
                        藤田幸久について
                    <!-- /.ttl --></h1>

                    <div class="movie">
                        <div class="movie__col">
                            <div class="movie__col__inner">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/eXu9hXOUDAU?rel=0" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div class="movie__col2">
                            <p>
                                藤田幸久のプロフィール・略歴について<br>お伝えさせて頂きます。
                            </p>
                        </div>
                    <!-- /.movie --></div>
                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="content__inner">

                <div class="container">

                    <div class="main">
                        <h2 class="ttl4">プロフィール</h2>
                        <table class="table">
                            <tr>
                                <th>
                                    名前
                                </th>
                                <td>
                                    藤田幸久（ふじた・ゆきひさ）
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    生年月日
                                </th>
                                <td>
                                    1950年4月19日生まれ（おひつじ座）
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    血液型
                                </th>
                                <td>
                                    O型
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    家族
                                </th>
                                <td>
                                    妻と娘、娘婿、孫3人
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    趣味
                                </th>
                                <td>
                                    海外ホームステイ、スポーツ観戦
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    愛読書
                                </th>
                                <td>
                                    ガンジー伝
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    愛唱歌
                                </th>
                                <td>
                                    おふくろさん、怪傑ハリマオの歌
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    座右の銘
                                </th>
                                <td>
                                    「誰が正しいかではなく、何が正しいか」<br>
                                    「一国の最も確かな防衛は、隣国の尊敬と感謝を勝ち取ることにある」
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    好きな食べ物
                                </th>
                                <td>
                                    寿司、サラダ、果物
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    お酒
                                </th>
                                <td>
                                    茨城の地酒が大好きです。
                                </td>
                            </tr>
                        </table>

                        <div class="box">
                            <h3 class="box__ttl">
                                スマイル茨城！茨城に笑顔と力を！
                            </h3>
                            <p class="box__lead">
                                コロナウイルスと、休業と生活苦から命と生活を守る。
                            </p>
                            <p class="box__text">
                                初の国際NGO出身の国会議員。世界52か国を訪問。各国で難民支援や地震・津波救援活動などを行う。対人地雷禁止条約、戦後補償問題、宗教間対立の和解活動にとりくむ。<br>
                                「茨城に笑顔と力を！」をモットーに、財務副大臣として東日本大震災後の市町村庁舎再建、中小企業グループ補助金、圏央道や東関東道水戸線、鹿行大橋、鹿島港の重要港湾指定などの復興予算を決定しました。
                            </p>
                        </div>

                        <h2 class="ttl4">略歴</h2>
                        <table class="table">
                            <tr>
                                <th>
                                    1950年
                                </th>
                                <td>
                                    茨城県日立市に生まれる。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    1966年
                                </th>
                                <td>
                                    茨城大学付属中学校卒業、中学時代はサッカー部で茨城県大会で準優勝。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    1969年
                                </th>
                                <td>
                                    茨城県立水戸第一高校卒業
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    1975年
                                </th>
                                <td>
                                    慶応義塾大学文学部哲学科卒業<br>
                                    MRA国際親善使節「ソング・オブ・アジア」（Song　of　Asia）に参加、2年間にわたりアジア・大洋州の青年約50人と約100の家庭にホームステイをしながら世界14カ国を歴訪。これまで52カ国を訪問し、約200軒の家庭でホームステイ。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    1979年
                                </th>
                                <td>
                                    難民を助ける会の創設に加わる。その後、常任理事。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    1984年
                                </th>
                                <td>
                                    （社）国際MRA日本協会（後に国際IC日本協会）専務理事。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    1986年
                                </th>
                                <td>
                                    MRAコー日米欧経済人円卓会議コーディネーター。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    1996年
                                </th>
                                <td>
                                    民主党から衆議院東京比例区で初当選。（選挙結果）初の国際ボランティア出身政治家として活躍。「対人地雷全面禁止推進議員連盟」事務局長として、小渕恵三外相らとともに、日本のオタワ条約調印を実現。不良債権問題、官僚の天下りや税金のムダ使いを厳しく追及。民主党代表団の中国訪問（胡錦涛副主席）、韓国訪問（金泳三大統領、金大中党首）の企画及び随行を行う。サポート校の不登校生徒の通学定期支給を実現。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2000年
                                </th>
                                <td>
                                    第42回総選挙で、東京12区で八代英太郵政大臣と戦い、64,913票を獲得するが、次点となる。（選挙結果）
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2003年
                                </th>
                                <td>
                                    第43回総選挙で、東京12区で公明党太田昭宏代議士と接戦を演じ、95,110票を獲得し、東京比例区にて当選。民主党国際局長、文化団体局長などを務める。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2004年
                                </th>
                                <td>
                                    イラク邦人人質事件の翌日、隣国ヨルダンに飛び、人質救出支援活動を行う。<br>
                                    民主党代表団の欧米訪問（国連アナン事務総長、スウェーデンのパーション首相など）の企画及び随行、民主党代表団の訪米（グリーンスパン連邦準備制度理事会議長、アーミテージ国務次官など）の企画及び随行を行う。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2005年
                                </th>
                                <td>
                                    スマトラ沖津波・地震の被害を受けたインドネシアとスリランカを訪問して支援活動を行う。<br>
                                    第44回総選挙で、公明党太田昭宏代議士、八代英太代議士と戦い73,943票を獲得するが、次点となる。（選挙結果）<br>
                                    選挙後も、国際局副局長として、パキスタン地震の調査団（若林秀樹団長）を企画し現地での支援活動を行う。ジャワ島地震の際も調査団（末松義則団長）を企画し、現地で支援活動を行う。これらの訪問直後には、総理官邸を訪れ、日本の緊急援助のあり方に関する政府への提言を行った（活動報告を参照ください）。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2006年～<br>
                                    2009年
                                </th>
                                <td>
                                    聖学院大学非常勤講師
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2007年
                                </th>
                                <td>
                                    第21回参議院選挙で茨城選挙区から初当選。自民党王国の茨城県で民主党として初めて一騎打ちで自民党候補に大勝（選挙結果）。外交防衛委員会理事、拉致問題特別委員会委員長、明日の内閣防衛副大臣。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2008年～<br>
                                    2009年
                                </th>
                                <td>
                                    民主党ネクスト内閣防衛副大臣、参議院外交防衛委員会理事、参議院北朝鮮拉致問題等特別委員長
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2009年～<br>
                                    2010年
                                </th>
                                <td>
                                    民主党党国際局長、決算委員会委員
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2010年～<br>
                                    2011年
                                </th>
                                <td>
                                    参議院財政金融委員長
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2010年
                                </th>
                                <td>
                                    ハイチ地震調査団長として、現地で支援活動
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2011年～<br>
                                    2012年
                                </th>
                                <td>
                                    財務副大臣
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2012年
                                </th>
                                <td>
                                    参議院財政金融委員長、裁判官弾時劾裁判所裁判委員
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2013年
                                </th>
                                <td>
                                    参議院財政金融委員長<br>
                                    第23回参議院議員通常選挙において、茨城選挙区で204,021票を獲得し当選。(選挙結果)<br>
                                    参議院国家基本政策委員長、財政金融委員会委員<br>
                                    ネクスト防衛副大臣、ネクスト内閣府特命担当副大臣(拉致担当)、21世紀教育研究所理事
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2014年
                                </th>
                                <td>
                                    北朝鮮による拉致問題に等に関する特別委員会理事、外交防衛委員会委員、東日本大震災復興特別委員会委員、ネクスト防衛副大臣、ネクスト内閣府特命担当副大臣（拉致担当）、厚生労働委員会委員
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2015年
                                </th>
                                <td>
                                    民主党国際局長、民主党ネクスト内閣府特命副大臣(沖縄及び北方対策)、予算委員会委員、外交防衛委員会委員、沖縄及び北方問題特別委員会理事、横浜国立大学非常勤講師、岐阜女子大学特別客員教授、岐阜女子大学南アジア研究センター員、21世紀教育研究所理事
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2016年
                                </th>
                                <td>
                                    民主党国際局長、民主党ネクスト外務副大臣、民主党北関東ブロック常任幹事、予算委員会委員、外交防衛委員会委員、政府開発援助(ODA)等に関する特別委員会理事、憲法審査会、横浜国立大学非常勤講師、岐阜女子大学特別客員教授、岐阜女子大学南アジア研究センター員、21世紀教育研究所理事
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2016年<br>
                                    3月27日<br>
                                    民進党結党
                                </th>
                                <td>
                                    民進党国際局長、民進党ネクスト外務大臣、参議院政府開発援助(ODA)等に関する特別委員会理事、予算委員会委員、外交防衛委員会委員、民進党常任幹事、民進党ネクスト外務副大臣、横浜国立大学非常勤講師
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2017年
                                </th>
                                <td>
                                    参議院外交防衛委員会筆頭理事、参議院予算委員会委員、参議院沖縄北方特別委員会委員、国際経済・外交調査会理事
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2018年
                                </th>
                                <td>
                                    国民民主党結党、国民民主党沖縄協議会座長代行、党国際局顧問
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2019年
                                </th>
                                <td>
                                    立憲民主党入党
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2019年<br>
                                    7月21日
                                </th>
                                <td>
                                    投開票の参議院議員選挙に立憲民主党全国区公認で立候補するも落選。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    2020年1月
                                </th>
                                <td>
                                    立憲民主党茨城県第2区総支部長に就任。次期衆議院議員選挙での茨城県第2区での公認決定。
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    現在
                                </th>
                                <td>
                                    立憲民主党茨城県第2区総支部長、国際IC日本協会理事、茨城県倫理法人会顧問、鹿島ライオンズクラブ会員、岐阜女子大学特別客員教授、世界宗教者平和会議（WCRP）国際活動支援議員懇談会事務局長
                                </td>
                            </tr>
                        </table>

                        <h2 class="ttl4">メディア</h2>

                        <h3 class="ttl5">メディア出演</h3>
                        <p>テレビ朝日「スクランブル」／テレビ朝日「サンデープロジェクト」／テレビ朝日「スーパーモーニング」／BSフジ「プライムニュース」／フジテレビ「報道2001」／TBS「みのもんた　朝ズバ！」／TBS［筑紫哲也ＮＥＷＳ２３］／朝日ニュースター「ニュースの深層」／日経CNBC「パワートーク」／BS日本テレビ「NNN24デーリープラネット」／JNN「ニュースバード」／日本テレビ「太田光の私が総理大臣になったら・・・秘書田中」／日経CNBC「ザ・政治闘論」／「ニュースオプエド」</p>

                        <div class="more js-more">
                            <p class="more__btn">
                                <a href="javascript:;" class="js-more__trigger">
                                    <span>もっと見る</span>
                                </a>
                            </p>
                            <div class="more__content js-more__content">
                                <h3 class="ttl5">著作・翻訳書・関係書籍</h3>
                                <p>
                                    「日本の進路を決めた10年 増補改訂版」（翻訳書、ジャパンタイムズ2016年）<br>
                                    「原中勝征の喝! 本当に国民のための日本医師会か!」（大下英治著、徳間書店2013年）<br>
                                    「政治家・官僚の名門高校人脈」（横田由美子著書、光文社新書2012年）<br>
                                    「財務省秘録」（大下英治著、徳間書店2012年）<br>
                                    「9.11テロ疑惑国会追及 オバマ米国は変われるか」（編著、クラブハウス2009年）<br>
                                    「国連と地球市民社会の新しい地平」（共著、東進堂2006年）<br>
                                    「政治家になりたくなかった政治家　NGOが政治を変える」（ジャパンタイムズ2003年）<br>
                                    「宗教が語る世界の平和」（編著、PHP研究所1991年）<br>
                                    「日本の進路を決めた10年」（翻訳書、ジャパンタイムズ1990年）<br>
                                    「ソ連の反体制派たち」（翻訳書、サイマル出版会1981年）<br>
                                </p>

                                <h3 class="ttl5">雑誌等（記事は「活動実績　新聞記事等」に掲載）</h3>
                                <p>
                                    「『国際協力大綱』理念の転用は危険」（国際開発ジャーナル2019年4月3日）<br>
                                    「私が立憲を選んだわけ　いつか野党を一つに」（毎日新聞　2019年4月2日）<br>
                                    「政治を変えることが最大の社会保障政策」（茨城県医師連盟だより2019年1月31日）<br>
                                    「国民民主党新春座談会「共生社会　基盤は地方」（茨城新聞　2019年1月18日）<br>
                                    「地域建設業支援を優先」（年頭所感）（日本建設新聞　2019年1月8日）<br>
                                    「沖縄県知事選　佐喜眞を巡る2つの疑惑」（日刊ゲンダイ2018年9月22日）<br>
                                    「カンボジア・民主主義の死」（月刊マスコミ市民2018年9月1日）<br>
                                    「東アジアシンポ　朝鮮は日本の責任大」（琉球新報2018年5月22日）<br>
                                    「普天間問題実質議論を」（沖縄タイムス2018年5月19日）<br>
                                    「JCBLと政治を動かした20年」（2017年8月10日JCBL20周年記念誌）<br>
                                    「日本で共謀罪法案近く成立へ　言ってない罪を罰せられる不条理」（週刊NY生活　2017年6月10日）<br>
                                    「在外選挙でまず実施を　『投票はネットで』」（週刊NY生活2017年5月13日）<br>
                                    「リーダー本棚　橋本徹」（日本経済新聞　2017年3月18日）<br>
                                    「訪米報告　トランプ大統領と闘う米国民、議会、裁判所」（民進プレス2017年2月12日）<br>
                                    「安倍「対ロ」外交は完敗」（月刊マスコミ市民2017年2月号）<br>
                                    「『日本の進路を決めた10年』の出版記念会を挙行」（リベラルタイム2017年1月号）<br>
                                    「新刊紹介　日本の進路を決めた10年」（プレジデント　2016年11月14日）<br>
                                    「戦後史の貴重な証言録 日本の進路を決めた10年」（茨城新聞2016年10月2日）<br>
                                    「歴史問題に対照的な安倍政権と天皇陛下」（和訳）（ジャパン・タイムズ2015年10月16日）<br>
                                    「安倍首相が米国議会で語るべきこと」（ジャパン・タイムズ2015年4月17日）<br>
                                    「「TPP」と「集団的自衛権行使」におけるアメリカの本音」（リベラルタイム2014年7月）<br>
                                    「「子ども霞ヶ関見学デー」開催 ―夏休みの思い出に900名以上の親子が参加―」（ファイナンス2012年9月号）<br>
                                    「財務省「職員セミナー」世界48カ国での経験を霞ヶ関に活かす」（ファイナンス2012年8月号）<br>
                                    「今月の顔：藤田幸久「財政と金融のモラルの復興」（ファイナンス2012年3月号）<br>
                                    「おかしな日本の難民支援／私が政治家を志した理由」（ニューリーダー2012年3月号）<br>
                                    「『9.11』の犠牲者・遺族に冷たい日本政府に憤り」（FACTA2010年12月号）<br>
                                    「史実検証　麻生鉱業の「消せない過去」（上）」（世界2009年5月号）<br>
                                    「内に強権政治、外に覇権主義を加速化するロシア」（世界週報2006年10月）<br>
                                    「内に強権、外に大国のロシア」（毎日新聞「発言席」2006年9月）<br>
                                    「Prime Minister Kishi’s Diplomacy of Reconciliation」（Japanecho2006年８月）<br>
                                    「生かされない災害支援の教訓」（世界週報2006年8月）<br>
                                    「岸信介・アジア和解外交の検証」（中央公論2006年6月）<br>
                                    「インド洋大津波とパキスタン大地震の現場から」（世界週報2006年1月）<br>
                                    「NGO外交が紛争解決の新たな担い手に」（改革者2002年6月）<br>
                                    「報復の循環に代わる和解の循環」（世界と議会2001年11月）<br>
                                    「戦後補償―米捕虜訴訟の政治的解決を」（朝日新聞「私の視点」2001年9月）
                                </p>
                            </div>
                        <!-- /.more --></div>

                    <!-- /.main --></div>


                    <div class="side js-sideFix">
                        <div class="side__inner">

                            <dl class="side__nav">
                                <dt>
                                    <a href="#">
                                        藤田幸久とは
                                    </a>
                                </dt>
                                <dd>
                                    <ul class="side__nav__list">
                                        <li>
                                            <a href="#">
                                                プロフィール
                                            </a>
                                            <ul class="side__subNav">
                                                <li>
                                                    <a href="#">
                                                        テキストテキストテキス
                                                    </a>
                                                    <ul class="side__subNav2">
                                                        <li>
                                                            <a href="#">
                                                                テキストテキストテキ
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                藤田幸久の軌跡
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                政策について
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                マンガ「ふじた幸久物語」
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            <!-- /.side__nav --></dl>

                            <div class="side__banner">
                                <ul class="side__banner__list">
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_001.jpg" alt="プロフィール">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_002.jpg" alt="藤田幸久の軌跡">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_003.jpg" alt="政策について">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item side__banner__list__item--type2">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_004.png" alt="マンガ「ふじた幸久物語」">
                                        </a>
                                    </li>
                                </ul>
                            <!-- /.side__banner --></div>
                            
                            <div class="side__search">
                                <dl class="side__search__item">
                                    <dt>
                                        アーカイブ
                                    </dt>
                                    <dd>
                                        <div class="side__search__select">
                                            <select>
                                                <option value="">月を選択</option>
                                            </select>
                                        </div>
                                    </dd>
                                </dl>
                                <form action="#">
                                    <dl class="side__search__item">
                                        <dt>
                                            サイト内検索
                                        </dt>
                                        <dd>
                                            <div class="side__search__text">
                                                <input type="text" class="side__search__form-txt">
                                                <input type="submit" value="検索" class="side__search__btn">
                                            </div>
                                        </dd>
                                    </dl>
                                </form>
                            <!-- /.side__search --></div>

                        <!-- /.side__inner --></div>
                    <!-- /.side --></div>

                <!-- /.container --></div>

            <!-- /.content__inner --></div>




            <div class="sec activity2">
                <div class="sec__inner container">
                    
                    <h2 class="activity2__ttl">活動実績</h2>
                    <p class="activity2__btn">
                        <a href="{{ root }}/activity/" class="btn btn--white">
                            もっと見る
                        </a>
                    </p>

                <!-- /.container --></div>
            <!-- /.sec --></div>




{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
