{% extends "_layout/default.njk" %}


{% set hasColumn   = true %}
{% set root        = '.' %}
{% set title       = '藤田幸久とはル' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}



{% block content %}

            <div class="mv2">
                <div class="mv2__inner container">
                    <p class="mv2__ttl">
                        藤田幸久とは
                    </p>
                </div>
            <!-- /.mv2 --></div>




            <div class="breadcrumbs-wrap">
                <div class="container">
                    <div class="breadcrumbs">
                         <!-- Breadcrumb NavXT -->
                         <!-- Breadcrumb NavXT 6.2.1 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="ホーム" href="{{ root }}/" class="home"><span property="name">ホーム</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="藤田幸久とは" href="{{ root }}/profile/" class="post post-page"><span property="name">藤田幸久とは</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">プロフィール</span><meta property="position" content="3"></span>
                    </div>
                </div>
            <!-- /.breadcrumbs-wrap --></div>




            <div class="sec">
                <div class="sec__inner container">
                    <h1 class="ttl">
                        藤田幸久について
                    <!-- /.ttl --></h1>

                    <div class="movie">
                        <div class="movie__col">
                            <div class="movie__col__inner">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/eXu9hXOUDAU?rel=0" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div class="movie__col2">
                            <p>
                                藤田幸久のプロフィール・略歴について<br>お伝えさせて頂きます。
                            </p>
                        </div>
                    <!-- /.movie --></div>
                <!-- /.container --></div>
            <!-- /.sec --></div>




            <div class="content__inner">

                <div class="container">

                    <div class="main">
                        <div class="blog">
                            <h2>
                                <span>2020年10月06日</span>
                                小美玉市での街頭活動
                            </h2>

                            <p>
                            (16) 藤田 幸久
                            </p>

                            <p>6日の朝の街頭活動は小美玉市部室の交差点。多くのボランティアの皆さんに応援頂きました。</p>

                            <figure class="wp-block-image">
                                <img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                                <noscript>
                                    <img src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt="" class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"/>
                                </noscript>
                            </figure>

                            <figure class="wp-block-image">
                                <img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg" alt class="wp-image-32120" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                                <noscript>
                                    <img src="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg" alt="" class="wp-image-32120" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120849681_2644745602400593_5351710825445778918_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"/>
                                </noscript>
                            </figure>


                            <hr>


                            <h2><span>2015年11月02日</span>海上保安庁那覇本部を視察しました</h2>
                            <p>海上保安庁那覇本部を視察しました。日曜日にもかかわらず長谷川本部長他丁寧に説明して下さいました。哨戒、警戒、救難など幅広い24時間体制の任務を少人数でこなしている姿に敬服しました。</p>
                            <p><a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.06.jpg"><img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.06-300x225.jpg" alt="20151101.06" width="300" height="225" class="alignleft size-medium wp-image-17380" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.06-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.06.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.06-300x225.jpg" alt="20151101.06" width="300" height="225" class="alignleft size-medium wp-image-17380" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.06-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.06.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" /&gt;</noscript></a> <a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.05.jpg"><img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.05-300x225.jpg" alt="20151101.05" width="300" height="225" class="alignleft size-medium wp-image-17381" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.05-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.05.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.05-300x225.jpg" alt="20151101.05" width="300" height="225" class="alignleft size-medium wp-image-17381" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.05-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.05.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" /&gt;</noscript></a> <a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.04.jpg"><img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.04-300x225.jpg" alt="20151101.04" width="300" height="225" class="alignleft size-medium wp-image-17382" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.04-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.04.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" data-lazy-loaded="true" style="display: block;"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.04-300x225.jpg" alt="20151101.04" width="300" height="225" class="alignleft size-medium wp-image-17382" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.04-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.04.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" /&gt;</noscript></a></p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>海上保安庁によるヘリコプターの救難訓練を視察しました。9月の常総市での水害では多くの人々が警察、消防なども含めたヘリコプターによって救助されました。命の恩人です。最後の二枚が降下の訓練の様子です。</p>
                            <p><a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.09.jpg"><br>
                            <img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.09-300x225.jpg" alt="20151101.09" width="300" height="225" class="alignleft size-medium wp-image-17377" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.09-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.09.jpg 960w" sizes="(max-width: 300px) 100vw, 300px"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.09-300x225.jpg" alt="20151101.09" width="300" height="225" class="alignleft size-medium wp-image-17377" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.09-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.09.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" /&gt;</noscript></a> <a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.08.jpg"><img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.08-300x225.jpg" alt="20151101.08" width="300" height="225" class="alignleft size-medium wp-image-17378" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.08-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.08.jpg 960w" sizes="(max-width: 300px) 100vw, 300px"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.08-300x225.jpg" alt="20151101.08" width="300" height="225" class="alignleft size-medium wp-image-17378" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.08-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.08.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" /&gt;</noscript></a> <a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.07.jpg"><img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.07-300x225.jpg" alt="20151101.07" width="300" height="225" class="alignleft size-medium wp-image-17379" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.07-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.07.jpg 960w" sizes="(max-width: 300px) 100vw, 300px"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.07-300x225.jpg" alt="20151101.07" width="300" height="225" class="alignleft size-medium wp-image-17379" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.07-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.07.jpg 960w" sizes="(max-width: 300px) 100vw, 300px" /&gt;</noscript></a><a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.11.jpg"><img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.11-225x300.jpg" alt="20151101.11" width="225" height="300" class="alignleft size-medium wp-image-17374" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.11-225x300.jpg 225w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.11.jpg 720w" sizes="(max-width: 225px) 100vw, 225px"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.11-225x300.jpg" alt="20151101.11" width="225" height="300" class="alignleft size-medium wp-image-17374" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.11-225x300.jpg 225w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.11.jpg 720w" sizes="(max-width: 225px) 100vw, 225px" /&gt;</noscript></a><a href="https://y-fujita.com/wp-content/uploads/2015/11/20151101.10.jpg"><img src="https://y-fujita.com/wp-content/plugins/lazy-load/images/1x1.trans.gif" data-lazy-src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.10-225x300.jpg" alt="20151101.10" width="225" height="300" class="alignleft size-medium wp-image-17375" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.10-225x300.jpg 225w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.10.jpg 720w" sizes="(max-width: 225px) 100vw, 225px"><noscript>&lt;img src="https://y-fujita.com/wp-content/uploads/2015/11/20151101.10-225x300.jpg" alt="20151101.10" width="225" height="300" class="alignleft size-medium wp-image-17375" srcset="https://y-fujita.com/wp-content/uploads/2015/11/20151101.10-225x300.jpg 225w, https://y-fujita.com/wp-content/uploads/2015/11/20151101.10.jpg 720w" sizes="(max-width: 225px) 100vw, 225px" /&gt;</noscript></a></p>


                            <hr>

                            <h2>見出し2 h2</h2>

                            <h3>見出し3 h3</h3>
                            <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                            <h4>見出し4 h4</h4>
                            <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                            <h5>見出し5 h5</h5>
                            <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                            <h6>見出し6 h6</h6>
                            <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                            <ul>
                                <li>リストリストリスト</li>
                                <li>リスト</li>
                            </ul>

                            <ol>
                                <li>番号リスト</li>
                                <li>番号リスト</li>
                            </ol>

                            <blockquote><p>blockquote:引用引用引用</p></blockquote>

                            <hr>

                            <pre>pre:文章文章文章文章文章文章文章文章文章文章文章</pre>

                            <p>▼ .alignleft</p>
                            <img src="https://placehold.jp/380x240.png" alt="" class="alignleft">
                            <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                            <p style="clear:both">▼ .alignright</p>
                            <img src="https://placehold.jp/380x240.png" alt="" class="alignright">
                            <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>

                            <p style="clear:both">▼ .aligncenter</p>
                            <img src="https://placehold.jp/380x240.png" alt="" class="aligncenter">
                            <p>文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</p>


                            <p style="clear:both">▼ .wp-block-embed-youtube</p>
                            <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
                            <iframe title="【改訂版】茨城県PR映像「Outlook IBARAKI」 日本語版" width="500" height="281" src="https://www.youtube.com/embed/eXu9hXOUDAU?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div><figcaption>動画キャプション動画キャプション</figcaption></figure>

                            <p style="clear:both">▼ .wp-block-image</p>
                            <figure class="wp-block-image"><img src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt="" class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" data-lazy-loaded="true" style="display: block;"><noscript><img src="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg" alt="" class="wp-image-32119" srcset="https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n.jpg 960w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-300x225.jpg 300w, https://y-fujita.com/wp-content/uploads/2020/10/120870962_2644745575733929_8585223843773519035_n-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" /></noscript>
                            <figcaption>画像キャプション画像キャプション</figcaption>
                            </figure>
                        <!-- /.article --></div>
                    <!-- /.main --></div>


                    <div class="side js-sideFix">
                        <div class="side__inner">

                            <dl class="side__nav">
                                <dt>
                                    <a href="#">
                                        藤田幸久とは
                                    </a>
                                </dt>
                                <dd>
                                    <ul class="side__nav__list">
                                        <li>
                                            <a href="#">
                                                プロフィール
                                            </a>
                                            <ul class="side__subNav">
                                                <li>
                                                    <a href="#">
                                                        テキストテキストテキス
                                                    </a>
                                                    <ul class="side__subNav2">
                                                        <li>
                                                            <a href="#">
                                                                テキストテキストテキ
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">
                                                藤田幸久の軌跡
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                政策について
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                マンガ「ふじた幸久物語」
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            <!-- /.side__nav --></dl>

                            <div class="side__banner">
                                <ul class="side__banner__list">
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_001.jpg" alt="プロフィール">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_002.jpg" alt="藤田幸久の軌跡">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_003.jpg" alt="政策について">
                                        </a>
                                    </li>
                                    <li class="side__banner__list__item side__banner__list__item--type2">
                                        <a href="#">
                                            <img src="{{ root }}/images/side_bnr_004.png" alt="マンガ「ふじた幸久物語」">
                                        </a>
                                    </li>
                                </ul>
                            <!-- /.side__banner --></div>
                            
                            <div class="side__search">
                                <dl class="side__search__item">
                                    <dt>
                                        アーカイブ
                                    </dt>
                                    <dd>
                                        <div class="side__search__select">
                                            <select>
                                                <option value="">月を選択</option>
                                            </select>
                                        </div>
                                    </dd>
                                </dl>
                                <form action="#">
                                    <dl class="side__search__item">
                                        <dt>
                                            サイト内検索
                                        </dt>
                                        <dd>
                                            <div class="side__search__text">
                                                <input type="text" class="side__search__form-txt">
                                                <input type="submit" value="検索" class="side__search__btn">
                                            </div>
                                        </dd>
                                    </dl>
                                </form>
                            <!-- /.side__search --></div>

                        <!-- /.side__inner --></div>
                    <!-- /.side --></div>

                <!-- /.container --></div>

            <!-- /.content__inner --></div>




            <div class="sec activity2">
                <div class="sec__inner container">
                    
                    <h2 class="activity2__ttl">活動実績</h2>
                    <p class="activity2__btn">
                        <a href="{{ root }}/activity/" class="btn btn--white">
                            もっと見る
                        </a>
                    </p>

                <!-- /.container --></div>
            <!-- /.sec --></div>




{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
