                    <div class="m_sec">
                        <ul class="m_banners">
                            <li data-aos="fade-up">
                                <a href="http://www.inoue-pr.com/" target="_blank">
                                    <img src="{{ root }}/images/bnr_inoue_pr001.png" width="100%" alt="井之上パブリックリレーションズ">
                                </a>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100">
                                <a href="http://www.japan-pri.jp/" target="_blank">
                                    <img src="{{ root }}/images/bnr_jpri001.png" width="100%" alt="日本パブリックリレーションズ研究所">
                                </a>
                            </li>
                        </ul>
                    <!-- /.m_sec --></div>


                    <section class="m_sec2" data-aos="fade-up">
                        <h2 class="m_ttl2">書籍</h2>

                        <ul class="m_books js_slide">
                            <li class="m_book">
                                <a href="http://www.amazon.co.jp/gp/product/4535557632/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4535557632&linkCode=as2&tag=inosblo-22" target="_blank">
                                    <div class="m_book_img">
                                        <img src="{{ root }}/images/img_book001.png" width="144" height="200" alt="">
                                    </div>
                                    <div class="m_book_name">
                                        パブリックリレーションズ　第２版　戦略広報を実現するリレーションシップマネージメント
                                    </div>
                                </a>
                            <!-- /.m_book --></li>
                            <li class="m_book">
                                <a href="http://www.amazon.co.jp/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2580%258C%25E8%25AA%25AC%25E6%2598%258E%25E8%25B2%25AC%25E4%25BB%25BB%25E3%2580%258D%25E3%2581%25A8%25E3%2581%25AF%25E4%25BD%2595%25E3%2581%258B-%25E4%25BA%2595%25E4%25B9%258B%25E4%25B8%258A-%25E5%2596%25AC%2Fdp%2F4569771084%3Fie%3DUTF8%26s%3Dbooks%26qid%3D1247443569%26sr%3D8-1&tag=inosblo-22&linkCode=ur2&camp=247&creative=1211" target="_blank">
                                    <div class="m_book_img">
                                        <img src="{{ root }}/images/img_book002.png" width="122" height="200" alt="">
                                    </div>
                                    <div class="m_book_name">
                                        「説明責任」とは何か
                                    </div>
                                </a>
                            <!-- /.m_book --></li>
                            <li class="m_book">
                                <a href="http://www.amazon.co.jp/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.co.jp%2Fexec%2Fobidos%2FASIN%2F4535554617%2Fqid%3D1144020391%2Fsr%3D8-2&tag=inosblo-22&linkCode=ur2&camp=247&creative=1211" target="_blank">
                                    <div class="m_book_img">
                                        <img src="{{ root }}/images/img_book003.png" width="142" height="200" alt="">
                                    </div>
                                    <div class="m_book_name">
                                        パブリック・リレーションズ―最短距離で目標を達成する「戦略広報」
                                    </div>
                                </a>
                            <!-- /.m_book --></li>
                            <li class="m_book">
                                <a href="http://www.amazon.co.jp/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.co.jp%2Fexec%2Fobidos%2FASIN%2F4569615805&tag=inosblo-22&linkCode=ur2&camp=247&creative=1211" target="_blank">
                                    <div class="m_book_img">
                                        <img src="{{ root }}/images/img_book004.png" width="141" height="200" alt="">
                                    </div>
                                    <div class="m_book_name">
                                        入門 パブリックリレーションズ―双方向コミュニケーションを可能にする新広報戦略
                                    </div>
                                </a>
                            <!-- /.m_book --></li>
                            <li class="m_book">
                                <a href="http://www.amazon.co.jp/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.co.jp%2F%E4%BD%93%E7%B3%BB-%E3%83%91%E3%83%96%E3%83%AA%E3%83%83%E3%82%AF%E3%83%BB%E3%83%AA%E3%83%AC%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%82%BA-%E3%82%B9%E3%82%B3%E3%83%83%E3%83%88%E3%83%BBM%E3%83%BB%E3%82%AB%E3%83%88%E3%83%AA%E3%83%83%E3%83%97%2Fdp%2F489471647X%3Fie%3DUTF8%26s%3Dbooks%26qid%3D1235951956%26sr%3D8-1&tag=inosblo-22&linkCode=ur2&camp=247&creative=1211" target="_blank">
                                    <div class="m_book_img">
                                        <img src="{{ root }}/images/img_book005.png" width="156" height="200" alt="">
                                    </div>
                                    <div class="m_book_name">
                                        体系 パブリック・リレーションズ
                                    </div>
                                </a>
                            <!-- /.m_book --></li>
                            <li class="m_book">
                                <a href="http://www.amazon.co.jp/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.co.jp%2FGlobal-Public-Relations-Handbook-Communication%2Fdp%2F0805839232%3Fie%3DUTF8%26s%3Denglish-books%26qid%3D1184817075%26sr%3D8-3&tag=inosblo-22&linkCode=ur2&camp=247&creative=1211" target="_blank">
                                    <div class="m_book_img">
                                        <img src="{{ root }}/images/img_book006.png" width="139" height="200" alt="">
                                    </div>
                                    <div class="m_book_name">
                                        The Global Public Relations Handbook
                                    </div>
                                </a>
                            <!-- /.m_book --></li>
                        <!-- /.m_books --></ul>
                    <!-- /.m_sec --></section>
